footer {
    .footer-awards {
        .box {
            height: 240px !important;
        }
}

    .row-fluid {
        display: block;
        overflow: hidden;
    }

    .span16 {
        width: 65.5%;
        margin-left:.5%;
        margin-right:.5%;
        float:left;
    }

    .span8 {
        width: 32.25%;
        margin-left:.5%;
        margin-right:.5%;
        float:left;
    }

}

.lia-quilt-idea-exchange-page-ideas2016 {

    .﻿row-eq-h {
        display: block;
        overflow: hidden;

    }

    .full-width-paragraph .box {
        width: 32.25%;
        margin-left:.5%;
        margin-right:.5%;
        float:left;
    }

}

#latest_blog_posts_list {
    display: block;
    overflow: hidden;

    .blog-item {
        width: 32.25%;
        margin-left:.5%;
        margin-right:.5%;
        float:left;
    }
}