/*.IdeaPage {*/

@media screen and (min-width: 663px) {
    .lia-panel-message-content .lia-message-author-avatar + .lia-message-subject {
        margin-left: 120px;
    }
}

.comment-status-bar {
    display:none;

    .MessageStatus {
        border: 1px solid $blue;
        padding: .1em 1em;
        border-radius: 4px;
        margin-bottom: .5em;
        display: inline-block;
        font-weight: bold;
        color: $blue;

        a {
            font-weight:normal;
        }
    }
}

.IdeaExchangePage .lia-message-subject-status  {
    margin-left: 0px;
}

.lia-message-subject-status {
    /*position: absolute;
    right: 0;*/
    border: 1px solid $pinkLight;
    /*margin-left: 120px;*/
    padding: .1em 1em;
    border-radius: 4px;
    margin-bottom: .5em;
    display: inline-block;
    font-weight: bold;
    color: $pinkLight;

    .MessageReadByModeratorCell {
        display:inline;
    }

    .lia-link-navigation {
        font-weight: normal;
        color: $pinkLight;
    }

    @media screen and (max-width: 662px) {
        margin-left: 0;
    }
}
.lia-quilt-idea-message {
    .MessageStatus {
        &:before {
            display: none;
        }
    }
}

.IdeaExchangePage {

    .ideas-filtering {
        background-color: #fff;
        min-height: 100px;
    }

    .lia-component-menu-bar-without-options {

        .lia-decoration-border-menu-bar-content {
            margin-left: 0;
            margin-right: 0;
            text-align: right;
            margin-bottom: 30px;
            margin-top: -30px;
        }
    }

    .lia-quilt-layout-idea-message {
        position: relative;

        .lia-quilt-row-footer {
            .lia-quilt-column-footer {


                @media screen and (min-width:500px) and (max-width: 663px) {
                    .lia-message-labels:after, .lia-message-tags:after {
                        display: none;
                    }
                }

                @media screen and (max-width: 998px) {
                    .lia-list-standard-inline > li {
                        display: inline;
                        float: left;                    }
                }

                @media screen and (min-width: 999px) {
                    display: inline-block;
                    width: 600px;
                    float: right;
                    position: absolute;
                    margin-top: -40px;
                    right: 0;
                }

                .lia-list-standard-inline ul {
                    float:right;
                }

                .lia-quilt-column-left {
                    margin-top: 0;
                }

                .LabelsForArticle .label-link {
                    margin-bottom:0;
                }

            }
        }
    }

    .lia-decoration-border-menu-bar {
        position: relative;

        @media screen and (min-width: 663px) {
            .lia-menu-bar-buttons {
                position: absolute;
                right: 0;
                bottom: -20px;
            }
        }

    }


    .lia-tabs-standard .lia-js-hidden {
        display: block !important;
    }

    .lia-tab-overflow.lia-js-hidden {
        display: none !important;
    }

    .popular-tab {
        display: none;
    }

    .lia-tab-overflow {
        display: none;
    }

    .lia-tabs-standard-wrapper .lia-tabs-standard {
        margin: -65px -20px 20px;

        .lia-tabs-active {
            background-color: #fff;
        }
    }


    @media screen and (min-width: 662px) {
        .subtitle {
            display: none;
        }
    }
}

.lia-message-idea {
    .lia-message-author {
        margin-left: 120px;
        @media screen and (max-width: 662px) {
            margin-left: 0;
        }
    }
}



.IdeaPage {

    .lia-menu-bar .lia-menu-bar-buttons {
        float: right;
    }

    .default-menu-option:after, .lia-common-dropdown-toggle:after {
        content: "\f141";
    }
}



/*message footer btns*/
.lia-content {
    .lia-message-view-idea-message-item {
        .lia-message-subject {
            clear: both;
            h2 .lia-message-read a {
                color: $blueLight;
                font-size: 24px;
                font-size: 2.4rem;
                font-weight: 600;
            }
        }
        .KudosButton {
            position: static;
            float: left;
            .lia-link-navigation.kudos-link {
                min-width: 73px;
                min-height: 40px;
                border-radius: 4px;
                margin-right: 10px;
                &:before {
                    color: $white;
                    position: absolute;
                    left: 10px;
                    top: 12px;
                }
                &:after {
                    content: 'Stem';
                    color: $white;
                    position: absolute;
                    right: 10px;
                }
            }
            .lia-button-image-kudos-count {
                margin: 0;
                .kudos-count-link {
                    background-color: #D2E3F1;
                    border-radius: 4px;
                    &:hover {
                        border-bottom: 0;
                    }
                }
            }
        }
        .lia-message-body-wrapper {
            border-bottom: $grayLightest solid 2px;
            margin-top: 16px;
        }
        .lia-message-comment-action {
            float: right;
        }
        .lia-message-byline {
            &:after {
                content: none !important;
            }
            img.lia-user-rank-icon {
                display: none;
            }
            .UserName.lia-user-name .login-bold {
                font-weight: 400;
            }
        }
        .lia-status {
            &:before {
                content: none;
            }
            &:after {
                content: none !important;
            }
            visibility: collapse;
            .message-status-link {
                visibility: visible;
                float: left;
                border: 1px solid $pinkLight;
                padding: 0 1em;
                border-radius: 4px;
                margin-bottom: .5em;
                display: inline-block;
                font-weight: 400;
                color: $pinkLight;
                margin-left: 0;
            }
        }
        .LabelsForArticle {
            width: auto;
            display: inline;
            .LabelsList {
                display: inline;
                ul {
                    display: inline;
                    .label {
                        display: inline;
                        .label-link {
                            display: inline;
                            width: auto;
                            float: none;
                            color: $turquoiseDark;
                            background-color: transparent;
                            font-family: $sansFontFamily ;
                            font-size: 16px;
                            &:hover {
                                color: $turquoiseDark;
                            }
                            &:before {
                                font-family: $sansFontFamily ;
                                content: 'in';
                                transform: none;
                                color: $turquoiseDark;
                            }
                        }
                    }
                }
            }
        }
        .lia-truncate-with-message-link .lia-truncated-message-link {
            font-weight: 600;
            color: $blue;
            padding-right: 20px;
            &:after {
                font-family: zk-centralenav-fontregular;
                content: '\61';
                top: 50%;
                transform: translateY(-50%);
                position: absolute;
                right: 0;
                color: $pink;
            }
        }
        .lia-component-comments-action-comments-link {
            font-weight: 600;
            position: relative;
            padding: 0 0 0 25px;

            &:after {
              font-family: zk-centralenav-fontregular;
              content: '\34';
              position: absolute;
              top: 0;
              left: 0;
              transform: scale(-1, 1);
              color: $blue;
            }
        }
    }
}

.IdeaPage .lia-button-image-kudos-wrapper .lia-button-image-kudos,
.IdeaExchangePage .lia-button-image-kudos-wrapper .lia-button-image-kudos {
	background-color: transparent;
}

.IdeaPage .lia-button-image-kudos-wrapper .lia-button-image-kudos-count,
.IdeaExchangePage .lia-button-image-kudos-wrapper .lia-button-image-kudos-count {
	border-left: 0;
    margin-left: 0;

    > * {
    /*kudos-count-link {*/
    	margin-left: 0;
    }

}

.IdeaPage .lia-button-image-kudos-wrapper .lia-button-image-kudos-count .kudos-count-link,
.IdeaExchangePage .lia-button-image-kudos-wrapper .lia-button-image-kudos-count .kudos-count-link {
	padding: 7px 12px !important;
    .lia-component-kudos-widget-message-kudos-count {
        padding-left: 0;
        padding-right: 0;
    }
}


.IdeaPage .lia-button-image-kudos-wrapper .lia-button-image-kudos-label,
.IdeaExchangePage .lia-button-image-kudos-wrapper .lia-button-image-kudos-label {
	display: inline;
}

.lia-button-image-kudos-vertical .kudos-link:before {
    color: #fff;
}

.lia-button-image-kudos-count, .lia-button-image-kudos-give {
	display: inline-block;
    > * {
    /*kudos-count-link {*/
    	margin-left: 0;
    }
}



/*end message footer btns*/

[href].label-link:hover, [href].label-link:focus {
    background-color: #fff;
}
a.label-link:hover, a.label-link:focus {
    color: #309FD8;

    &:focus,
    &:hover {
        text-decoration : underline;
    }
}

.lia-quilt-layout-idea-message .lia-quilt-column-footer .lia-quilt-column-left {
    float: right;
    text-align: right;
    color: #279EDA;
    margin-top: 10px;

    a {
        color: #309FD8;
        font-weight: bold;
        font-size: 16px;

        &:before {
            display: inline-block;
            transform: translate(0, 0);
            content: " ";
            position: absolute;
            background-image: url("/html/assets/reaction.png");
            background-size: contain;
            margin-left: -28px;
            top: 7px;
            width: 21px;
            height: 18px;
            background-repeat: no-repeat;
        }
    }
}

.LabelsForArticle  .lia-list-standard-inline {
    text-align: right;
}

.LabelsForArticle .label-link {
    background-color: transparent;
    color: #309FD8;
    padding: .1em 1em;
    margin-bottom: 0;
    display: inline-block;
    font-weight: bold;
    font-size: 16px;
    line-height:1;

    &:before {
         color: #309FD8;
         content: "\f02b";
         display: inline-block;
         font: normal normal normal 16px/1 FontAwesome;
         -moz-osx-font-smoothing: grayscale;
         -webkit-font-smoothing: antialiased;
         line-height: 1.71428571;
         text-rendering: auto;
         transform: scaleX(-1);
         position: relative;
         left: -5px;
         top: 0;
     }

    @media screen and (min-width: 663px) {
        font-size:16px;
    }



    &:hover, &:focus {
        background-color: transparent;
        color: #309FD8;
        text-decoration: underline;
    }
}

.lia-message-labels + .lia-message-tags {
    display: none;
}

@media screen and (min-width: 663px) {
    .lia-message-labels, .lia-message-labels + .lia-message-tags + .lia-quilt-row {
        float: left;
        width: 50%;
    }
}
.lia-message-moderation {
    float: left;
    width: 100%;
}

.lia-message-actions .lia-message-comment-permalink {
    display: none;
}

/*footer idea message*/
/*.LabelsList, .lia-component-ideas-widget-statuses .MessageStatusesTaplet {
    border-top: 0;
    border-bottom: 0;
}*/

/*hide home page board*/
.lia-quilt-2016-section-homepage-denkmee {
    .message-board {
        display: none;
    }
}




@media screen and (max-width: 662px) {

    .lia-body {
        .lia-component-comments {
            .lia-quilt-row.lia-quilt-row-main {
                        padding-left: 0;
            }
        }

        .lia-message-body {
            margin-left: 0;
            margin-top: 1.5em;
        }

    }
}
