.lia-discussion-page-header-row, 
.lia-qanda-question-page-question-header, 
.lia-quilt-layout-topic-header {
    border-bottom: none;
}

.lia-panel-message-content {
    border-top: 0;
}

.lia-panel, 
.lia-panel-message, 
.lia-tkb-article-summary-view, 
.lia-message-view-display, 
.lia-note-view-display, 
.lia-spoiler-container 
{
    /*background: transparent;*/
    background: #fff;
    border: 0;
    box-shadow: none;
}

.lia-quilt-layout-one-column-message > .lia-quilt-row-footer, 
.lia-quilt-layout-two-column-message > .lia-quilt-row-footer {
    background: transparent;
}

.lia-panel-message-content {
    border: 0;
}

.lia-panel-message-content .lia-quilt-row-mod-controls {
    background-color: transparent;
}

.lia-quilt-layout-two-column-message > .lia-quilt-row-main .lia-quilt-column-main-left {
    border-right: 0;
}

/* (forum postpage) */

.PostPage,
.UserLoginPage,
.ReplyPage,
.UserRegistrationPage,
.MoveMessagesPage {
    .lia-page-header {
        width: 980px;
        margin: 0 auto;
        h1 span.lia-link-navigation {
            color: $blueDark;
            font-weight: 600;
        }
    }
    .lia-quilt-column-main-content {
        margin: 0 auto;
        width: 980px;
        float: none;
        padding: 0;
        > .lia-quilt-column-alley-single {
            padding: 0 !important;
        }
        .lia-quilt-column-06 {
            float: right;
        }
    }
    .MessageEditorForm .lia-form-buttons-empty-left-column {
        .lia-quilt-column-16 {
            .lia-form-submit.lia-button-group {
                width: 130%
            }
        }
    }
    @media screen and (max-width: 991px) {
        .lia-page-header,
        .lia-quilt-column-main-content {
            width: 100%;
            padding: 0 2.0rem !important;
            h1.PageTitle {
                padding: 2.0rem 0;
            }
        }
    }
}

.PostPage {
    .lia-quilt-row-header {
        background-color: $blueLightest2;
        .lia-page-header {
            padding-top: 70px;
            padding-bottom: 70px;
            background: url("/html/assets/header-postpage-idea.png") no-repeat right bottom;
        }
    }
    .lia-quilt-row-main {
        padding-top: 50px;
        background-color: $moreBlueLightLithium;
    }
    .lia-component-editor {
        .lia-quilt-column-18.lia-input-edit-form-column,
        .lia-quilt-column-06.lia-input-edit-form-column {
            background-color: $moreBlueLightLithium;
            width: 100%;
            float: left;
            padding-left: 0;
            padding-top: 2.0rem;
        }
    }
    .lia-form-labels-fieldset-toggle {
        .predefined-labels {
            height: 240px;
            padding: 2.0rem 2.0rem 1.0rem 2.0rem;
            background-color: $white;
            border-radius: 4px;
            > span {
                display: none;
            }
            ul {
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                height: 100%;
                max-width: 100%;
                li {
                    padding-bottom: 1.0rem;
                    input {
                        margin-right: 1.0rem;
                    }
                }
            }
        }
    }
    .lia-form-attachments-fieldset-toggle {
        margin-bottom: 3.0rem;
        float: none;
    }
    .MultipleAttachments .lia-new-attachments-field {
        &:before {
            content: 'Kies bestand';
            position: absolute;
            left: 1.0rem;
            font-size: 18px;
            font-size: 1.8rem;
            font-weight: 600;
        }

        input {
            opacity: 0;
            width: 150px;
        }
    }
    .infospan {
         vertical-align: sub;
    }
    #tabgroup.lia-tabs-standard-wrapper {
        margin-top: 1.0rem;
        padding: 0;
        background-color: $moreBlueLightLithium;
        .lia-tabs-standard {
            background-color: $moreBlueLightLithium;
            margin: 0 0 8px 0;
            .lia-tabs {
                border-left: none;
                &.lia-tabs-inactive {
                    background-color: $blueLightest2;
                }
                a {
                    font-size: 18px;
                    color: $blueDarkest;
                    padding: 10px 30px;
                }
            }
        }
    }
    .message-body-editor {
        margin-top: -8px;
        padding: 2.0rem;
        background-color: $white;
        .mce-panel.mce-toolbar-grp {
            background-color: $white;
        }
    }
}

.TkbPage,
.ForumTopicPage {
    #actionMenuDropDown {
        right: 9px;
    }
}

.ForumPage {
    .lia-quilt-row-section-heading {
        background-color: #fff;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        text-align: right;
        padding: 10px 12px;
        .lia-component-board-options {
            
        }
        .lia-js-menu-opener {
            background: transparent;
            border: 0;
        }
    }
}
    
.lia-message-options .default-menu-option:before {
    color: $blue;
}

.lia-quilt-forum-topic-header {
    display: none;
}

#actionMenuDropDown {
    .lia-js-menu-opener.default-menu-option,
    .lia-js-menu-opener.default-menu-option:hover,
    .lia-js-menu-opener.default-menu-option:active {
        color: $blue;
        font-weight: 300;
        padding: 0 16px;
        background-color: transparent;
        border: none;

    }
    &.lia-component-search-actions .lia-js-menu-opener.default-menu-option {
        border: none;
    }
}

.lia-panel-message-content .lia-menu-navigation-wrapper {
    position: relative;
    top: -10px !important;
    left: auto;
    right: 10px !important;
    @media screen and (max-width: 767px) {
        position: absolute;
        top: 0px !important;
        left: initial !important;
        right: 6px !important;
        z-index: 10;
    }
}

.lia-quilt-column-message-options .lia-quilt-column-alley-right {
    text-align: right;
}

/*add padding to blue rows*/
.lia-quilt-row-navigation ~ .lia-quilt-row:nth-child(odd):not(:last-child) {
    /*.lia-component-topic-message */
    .lia-panel-message
    {
        padding: $page-padding $page-padding 10px $page-padding;
        margin-bottom: 2px;
    }
}

.lia-button-image-kudos .kudos-link {
    border-color: $blue;
    line-height: 28px;
}

.lia-panel-message {
    .lia-component-author-rank-name,
    .lia-component-author-rank {
        display: inline-block;
    }
}

.lia-component-reply-list {
    .lia-panel-message-content .lia-message-subject {
        display: none;
    }
}

.lia-message-author-avatar {
    height: 120px;
    width:120px;
    float:left;
    /*position: absolute;*/

    .lia-user-avatar {
    }
    .UserAvatar {
        display: block;
        width: 100px;
        height: 100px;
        position:relative;
        overflow: hidden;
        > img {
            border-radius: 4px;
            height: auto;
            object-fit: initial;
            width: auto;
            max-width: 100%;
        }
    }
}

.lia-message-author-username, /*forum message*/
.lia-component-author, /*denk mee message*/
.lia-message-author-avatar + .lia-component-author,
.lia-message-author-avatar + .lia-message-author-username,
.lia-message-author-avatar + .lia-message-author-with-avatar {
    width: auto;
    display: block;
}

.lia-quilt-row-footer {
    margin-top: 1em;
}

.lia-component-reply-list {
    .lia-component-reply-button,
    .lia-component-quick-reply-button,
    .lia-component-accepted-solutions-button {
        display: none;
    }
}

.lia-discussion-page-discussion-navigator {
    display: none;
}

/*hide some buttons:*/
.lia-message-view {
    .lia-action-quick-reply,
    .lia-component-accepted-solutions-actions-mark-message-as-accepted-solution-secondary-button,
    .lia-component-forums-action-promote-message-button
    {
        display: none;
    }    
}

.lia-quilt-forum-message.lia-quilt-layout-2016-two-column-message {
    .lia-quilt-row-main {
        .lia-quilt-column + .lia-quilt-column {
            display: none;
        }
        .lia-quilt-column:first-child,
        .lia-quilt-column:last-child {
            width: 100%;
        } 
    }
}

@media screen and (max-width: 991px) {

    .lia-panel-message-root {
        padding: 0 $page-padding;
        .lia-message-subject {
            margin-bottom: 0;
        }
    }

    .lia-panel-message-root .lia-quilt-row-footer {
        border-top: 0;
    }

    
    .lia-quilt-column-footer-left {
        margin-bottom: 1em;
    }
    
    .lia-panel-message .lia-quilt-column-footer-right .lia-button {
        float: left;
        margin-left: 0;
        /*margin-top: 1em;*/
    }
    .lia-component-thread-options  {
        margin: 0 $page-padding;        
    }
    
    .lia-message-comment-post {
        &:before {
            display: none;
        }
    }
}

@media screen and (max-width: 662px) {

    .lia-message-author-avatar {
        display: none;
    }         

    .lia-message-author-username, /*forum message*/
    .lia-component-author, /*denk mee message*/
    .lia-message-author-avatar + .lia-component-author, 
    .lia-message-author-avatar + .lia-message-author-username
    {
        margin-left: 0;
        width: auto;
        display: block;
    }    
    
    .ForumTopicPage {
        .lia-message-body {
            margin-top: 0;
        }            
            
    }
}

/*avatar fade in*/
@keyframes avatar-fade-in {
  0%   { opacity: 0; }
  80% { opacity: 0; }
  100% { opacity: 1; }
}

.UserAvatar {
    animation: avatar-fade-in 1.5s;
}

.lia-profile-hero-user .UserAvatar,
.lia-slide-menu-content .UserAvatar {
    animation: none;
    opacity: 1;
}

.main-nav-items .UserAvatar {
    animation: none;
    opacity: 1;
    position: relative;
    display: inline-block;
}

.lia-quilt-view-profile-hero .lia-user-avatar, .lia-quilt-view-profile-hero .lia-media-top-image-contributors .lia-media-image-contributor-avatar-wrapper, .lia-media-top-image-contributors .lia-quilt-view-profile-hero .lia-media-image-contributor-avatar-wrapper {
    border-radius: 0%;
}

.UserAvatar > img {
    border-radius: 0%;
    /*height: auto;*/
}

.lia-image-cropper canvas {
    border-radius: 0%;
}

/***** user profile ***/
.lia-quilt-view-profile-hero {
    color: #0073cf;

    .UserOnline {
        color: #0073cf;
    }
}

.lia-quilt-view-profile-hero .lia-profile-hero-avatar-wrapper:after {
    content: '';
    position: absolute;
    width: 50px;
    height: 50px;
    top: -2px;
    left: -2px;
    border-top: 60px solid #fff;
    border-right: 60px solid rgba(0, 0, 0, 0);
}

/***** main nav ***/

.main-nav-items .last .UserAvatar.lia-link-navigation {

    @media screen and (min-width: 999px) {
        position: absolute;
        display: block;
        overflow:hidden;
        top: -50px;
        left: 10px;
    }

    img {
        display: block;
    }

    &:after {
         content: '';
         position: absolute;
         width: 15px;
         height: 15px;
         top: -1px;
         left: -1px;
         border-top: 15px solid #fff;
         border-right: 15px solid rgba(0, 0, 0, 0);
    }
}

.main-community-nav.isAdmin {
    .main-nav-items .last .UserAvatar.lia-link-navigation {
        &:after {
            border-top: 15px solid #279EDA;
        }
    }
}


/***** side out nav ***/
.lia-slide-menu-content .UserAvatarProfile:after {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    top: -1px;
    left: 50%;
    margin-left: -33px;
    border-top: 23px solid #fff;
    border-right: 23px solid rgba(0, 0, 0, 0);
}

.lia-slide-menu-content .UserAvatarProfile {
    position: relative;

}

.cMessageAuthorAvatarColumn .lia-component-messages-column-message-author-avatar {
    position: relative;
    overflow:hidden;

    &:after {
        content: '';
        position: absolute;
        width: 20px;
        height: 20px;
        top: -1px;
        left: 50%;
        margin-left: -33px;
        border-top: 23px solid #fff;
        border-right: 23px solid rgba(0, 0, 0, 0);
    }
}

/*.UserList .lia-user-item .lia-user-avatar,*/
.UserList .lia-user-item .lia-media-top-image-contributors .lia-media-image-contributor-avatar-wrapper,
.lia-media-top-image-contributors .UserList .lia-user-item .lia-media-image-contributor-avatar-wrapper {
    position: relative;

    &:after {
        content: '';
        position: absolute;
        width: 20px;
        height: 20px;
        top: -1px;
        left: 50%;
        margin-left: -33px;
        border-top: 23px solid #fff;
        border-right: 23px solid rgba(0, 0, 0, 0);
    }
}

.KudosUserPage .UserListBlock .lia-user-avatar > .lia-link-navigation {
    position: relative;
    display:block;
    overflow:hidden;

    &:after {
        content: '';
        position: absolute;
        width: 20px;
        height: 20px;
        top: -1px;
        left: 50%;
        margin-left: -33px;
        border-top: 23px solid #fff;
        border-right: 23px solid rgba(0, 0, 0, 0);
    }
}

.lia-quilt-column-user-search-result .UserAvatar.lia-link-navigation,
.UserProfileSummary .lia-user-avatar{
    position: relative;
    overflow:hidden;
    display:block;

    &:after {
        content: '';
        position: absolute;
        width: 20px;
        height: 20px;
        top: -1px;
        left: 50%;
        margin-left: -33px;
        border-top: 23px solid #fff;
        border-right: 23px solid rgba(0, 0, 0, 0);
    }

}

.UserProfileSummary .lia-user-name-link {
    &:after {
         display: block;
    }    
}

/*on white bg banner background green*/
.lia-quilt-row-navigation ~ .lia-quilt-row:nth-child(even) .lia-panel {
    background: #E5F5F5;

    .UserProfileSummary .lia-user-avatar {
        &:after {
             border-top-color: #E5F5F5;
        }
    }
}

.lia-quilt-kudos-user-page  {
    .lia-quilt-column-main-content {
        .lia-tabs-standard-wrapper,
        .lia-component-tabs {
            margin : 0 auto;
            max-width:980px;

            .lia-tabs-standard {
                margin: -38px -20px 20px;
            }
        }
    }

    .lia-user-leaderboard-rank,
    .lia-component-common-widget-user-avatar,
    .lia-user-attributes {
        float:left;
    }

    overflow:hidden;
}

.KudosUserPage .UserListBlock .UserProfileSummary {
    overflow: hidden;
}

.KudosMessagePage,
.ForumsFilteredByLabelPage {
    .lia-page-header,
    .lia-content {
        background-color: $moreBlueLightLithium;
        h1 span {
            color: $blueDark;
        }
    }

    .lia-page-header .lia-component-common-widget-page-title,
    .lia-quilt-row-main .lia-quilt-column-main-content .lia-quilt-column-alley-single,
    .lia-quilt-row-main {
        max-width: 980px;
        margin: auto;
        display: block;
        padding: 0;
        background-color: $moreBlueLightLithium;

    }

    .lia-component-common-widget-core-node-icon,
    .lia-quilt-row-sub-header {
        display: none;
    }
    .lia-quilt-row-main {
        background-color: $moreBlueLightLithium;
        #tabgroup.lia-tabs-standard-wrapper {
            margin-top: 70px;
            .lia-tabs-standard {
                margin: -65px 0px 20px -20px;
            }
            .lia-user-leaderboard-rank {
                display: none;
            }
        }
    }
    .lia-quilt-row-footer {
        background-color: transparent;
    }

    .UserListBlock,
    .lia-list-wide {
        border: none;
    }

    .KudosUserTab .UserProfileSummary {
        margin-bottom: 2rem;
    }

    @media screen and (min-width: 992px) {
        .lia-top-quilt > .lia-quilt-row-main {
            > .lia-quilt-column-left,
            > .lia-quilt-column:first-child {
                padding-left: 0;
            }
            > .lia-quilt-column-right,
            > .lia-quilt-column:last-child {
                padding-right: 0;
            }
        }
    }

    @media screen and (max-width: 991px) {
      .lia-page-header,
      .lia-quilt-row-main {
        padding-left: 20px;
        padding-right: 20px;
      }
    }
}