@media screen and (max-width: 999px) {
    .hide-on-mobile {
        display: none; 
    }    

    .center-content, 
    .lia-quilt-row-main-one > .lia-quilt, 
    .lia-quilt-row-main-one~.lia-quilt-row > .lia-quilt {
        padding: 0 $page-padding;    
    }
}

.show-on-mobile {
    display: none;
}
.show-on-not-mobile {
    display: block;
}

@media screen and (max-width: 662px) {
    .show-on-mobile {
        display: block;
    }
    .show-on-not-mobile {
        display: none;
    }
}