$maxwidth : 980px;

.full-width-header, 
.center-content, 
#main-footer .container,
.lia-breadcrumb,
.lia-component-common-widget-page-feedback .lia-text
/*,.lia-quilt-row-main-one,
.lia-quilt-row-main-one + .lia-quilt-row */
{
    max-width: $maxwidth;
    margin: auto;
}

.lia-quilt-row-main-one,
.lia-quilt-row-main-one ~ .lia-quilt-row {
    .lia-quilt {
        max-width: $maxwidth;
        margin: auto;        
    }
}

/*.lia-quilt-idea-exchange-page-ideas2016
, .lia-quilt-category-page-forum2016 */
.lia-top-quilt
{
    /*.lia-quilt-row-main-one*/
    /*,.lia-quilt-row-main-one  ~ .lia-quilt-row */
    /*,*/
    .lia-quilt-row-navigation  ~ .lia-quilt-row 
    /*,.lia-quilt-row-main*/
    {
        .lia-quilt-column-alley {
            margin: auto;
            max-width: $maxwidth;
        }        
    }
    > .lia-quilt-row-footer {
        background-color: $white;
        border: none;
    }

}
/*top row navigation*/
.ReplyPage {
    .lia-page-header{
        display: none;
    }

    .lia-quilt-row-main {
        > .lia-quilt-column > .lia-quilt-column-alley {
            margin: auto;
            max-width: $maxwidth;
        }
    }
}
.ForumTopicPage,
.IdeaPage,
.TkbArticlePage
{
    .lia-quilt-row-navigation {
        /*> .lia-quilt-column-alley {*/
        > .lia-quilt-column > .lia-quilt-column-alley {
            margin: auto;
            max-width: $maxwidth;            
        }
    }
}


.BlogArticlePage {

    .lia-component-kudos {
        position: relative;
        z-index: 20;
        left: 80px;
    }

    #message_social {
        position: relative;
        top: -76px;
        z-index: 10;
        display: inline-block;

        @media screen and (max-width: 991px) {
            top: -83px;
            left: 21px;
        }

        @media screen and (max-width: 662px) {
            top: -132px;
        }
    }

    .lia-component-message_social {
        margin: auto;
        max-width: 980px;
        display: block;
        margin-top: -20px;
        margin-bottom: 20px;
    }

    .lia-quilt-row-header {
        .lia-component-article-subject {
            padding: 0;

            .lia-component-message_social,
            .lia-blog-article-page-article-subject {
                margin: auto;
                max-width: 980px;
                display: block;                
            }
        }
    }
    
    /*.lia-quilt-row-main {
        > .lia-quilt-column > .lia-quilt-column-alley {
            margin: auto;
            max-width: $maxwidth;
        }
    }*/
    .lia-quilt-blog-article {
            margin: auto;
            max-width: $maxwidth;        
    }    
}

@media screen and (max-width: 991px) {
    .BlogArticlePage {
        .lia-quilt-row-header {
            .lia-component-article-subject {
                padding: 0 $page-padding;
            }
        }
    }
}

.btn-primary:before,
.lia-button-primary.lia-button-primary:before,
.lia-panel-message-root .lia-action-reply.reply-action-link.reply-action-link:before {
    color: #fff;
}