.lia-discussion-page-header-row, 
.lia-qanda-question-page-question-header, 
.lia-quilt-layout-topic-header {
    border-bottom: none;
}

.lia-panel-message-content {
    border-top: 0;
}

.lia-panel, 
.lia-panel-message, 
.lia-tkb-article-summary-view, 
.lia-message-view-display, 
.lia-note-view-display, 
.lia-spoiler-container 
{
    /*background: transparent;*/
    background: #fff;
    border: 0;
    box-shadow: none;
}
.lia-quilt-layout-one-column-message > .lia-quilt-row-footer, 
.lia-quilt-layout-two-column-message > .lia-quilt-row-footer {
    background: transparent;
}


/*.lia-panel-message, 
.lia-panel-standard, 
.lia-tkb-article-summary-view, 
.lia-message-view-display, 
.lia-note-view-display, 
.lia-spoiler-container*/

.lia-panel-message-content {
    border: 0;
}



.lia-panel-message-content .lia-quilt-row-mod-controls {
    background-color: transparent;
}

.lia-quilt-layout-two-column-message > .lia-quilt-row-main .lia-quilt-column-main-left {
    border-right: 0;
}


/* (forum postpage) */


.ForumPage {
    .lia-quilt-row-section-heading {
        background-color: #fff;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        text-align: right;
        padding: 10px 12px;
        .lia-component-board-options {
            
        }
        .lia-js-menu-opener {
            background: transparent;
            border: 0;
        }
    }
}
/*.ForumTopicPage {*/
    
    
        .lia-message-options .default-menu-option:before {
            color: $blue;
        }    
    
        .lia-quilt-forum-topic-header {
            display: none;
        }
        
        #actionMenuDropDown {
            /*width: 100%;*/
            /*text-align: right;   */
            .lia-js-menu-opener {
                background-color: transparent;
                border: 0;
                padding: 0;
                margin: 1em 0;
                color: $blueLight;
            }            
        }
        
    
        /*.lia-component-thread-options {
            .lia-js-menu-opener {
                background-color: transparent;        
                font: 0/0 a;
                text-shadow: none;
                border: 0;
                &:before {
                    color: #777777;
                    content: "\f141";
                    display: inline-block;
                    font: normal normal normal 16px/1 FontAwesome;
                    -moz-osx-font-smoothing: grayscale;
                    -webkit-font-smoothing: antialiased;
                    line-height: 1.71428571;
                    text-rendering: auto;
                    transform: translate(0, 0);            
                }
                &:after {
                    content: '';
                    margin-left: 0;            
                }        
            }
        }*/
        .lia-panel-message-content .lia-menu-navigation-wrapper {
            position: relative;
            top: auto;
            left: auto;
            right: auto;
        }        
        .lia-quilt-column-message-options .lia-quilt-column-alley-right {
            text-align: right;
        }

        /*add padding to blue rows*/
        .lia-quilt-row-navigation ~ .lia-quilt-row:nth-child(odd):not(:last-child) {
            /*.lia-component-topic-message */
            .lia-panel-message
            {
                padding: $page-padding $page-padding 10px $page-padding;
                margin-bottom: 2px;
            }
        }    

        .lia-button-image-kudos .kudos-link {
            border-color: $blue;
        }
    

        .lia-panel-message
        {
            .lia-component-author-rank-name {
                display: inline-block;
            }
    
            /*.lia-component-post-date-last-edited {
                display: none;
            }*/
        }
        
        .lia-component-reply-list {
            .lia-panel-message-content .lia-message-subject {
                display: none;
            }            
        }
        
        .lia-message-author-avatar {
            height: 120px;
            position: absolute;
            
            .lia-user-avatar {
            }
            .UserAvatar {
                display: block;
                width: 100px;
                height: 100px;
                /*background-color: $blueLighter;            */
                > img {
                    border-radius: 4px;
                    height: auto;
                    object-fit: initial;
                    width: auto;
                    max-width: 100%;
                }            
            }             
        }
        /*lia-message-author-username lia-component-user-name
        UserName lia-user-name lia-user-rank-Community-Manager lia-component-author*/
                           
        .lia-message-author-username, /*forum message*/
        .lia-component-author, /*denk mee message*/
        .lia-message-author-avatar + .lia-component-author, 
        .lia-message-author-avatar + .lia-message-author-username
        {
            margin-left: 120px;
            width: auto;
            display: inline-block;
        }
        
        .lia-quilt-row-footer {
            margin-top: 1em;
        }
        
        
  
        
        .lia-component-reply-list {
            .lia-component-reply-button {
                display: none;
            }            
        }
        
        /*hides double date, extra check if it is ok on each page*/
        /*.lia-quilt-row-header .lia-quilt-column-header-right .lia-component-common-widget-date {
            display: none;
        }*/


/*}*/

.lia-discussion-page-discussion-navigator {
    display: none;
}



/*hide some buttons:*/
.lia-message-view {
    .lia-action-quick-reply,
    .lia-component-accepted-solutions-actions-mark-message-as-accepted-solution-secondary-button,
    .lia-component-forums-action-promote-message-button
    {
        display: none;
    }    
}

.lia-quilt-forum-message.lia-quilt-layout-2016-two-column-message {
    .lia-quilt-row-main {
        .lia-quilt-column + .lia-quilt-column {
            display: none;
        }
        .lia-quilt-column:first-child {
            width: 100%;
        } 
    }
}


/*.ForumTopicPage,
.lia-body .lia-message-idea {
    .lia-message-body {
        margin-top: 60px;
    }
}      */

/*.lia-body {
 
}
*/












@media screen and (max-width: 991px) {

    .lia-panel-message-root {
        padding: 0 $page-padding;
        .lia-message-subject {
            margin-bottom: 0;
        }
    }

    .lia-panel-message-root .lia-quilt-row-footer {
        border-top: 0;
    }
 
    /*.lia-message-actions .lia-button, 
    .lia-message-actions-secondary .lia-button, */
    
    .lia-quilt-column-footer-left {
        margin-bottom: 1em;
    }
    
    .lia-panel-message .lia-quilt-column-footer-right .lia-button {
        float: left;
        margin-left: 0;
        /*margin-top: 1em;*/
    }
    .lia-component-thread-options  {
        margin: 0 $page-padding;        
    }
    
    .lia-message-comment-post {
        &:before {
            display: none;
        }
    }
}

@media screen and (max-width: 662px) {

    .lia-message-author-avatar {
        display: none;
    }         
    /*.lia-message-author-username, 
    .lia-message-post-date,
    .lia-message-author-username,
    .lia-quilt-comment-message .lia-component-common-widget-date*/

    .lia-message-author-username, /*forum message*/
    .lia-component-author, /*denk mee message*/
    .lia-message-author-avatar + .lia-component-author, 
    .lia-message-author-avatar + .lia-message-author-username
    {
        margin-left: 0;
        width: auto;
        display: block;
    }    
    
    .ForumTopicPage {
        /*.lia-quilt-column-message-options .lia-quilt-column-alley-right {
            text-align: left;
        }*/
        .lia-message-body {
            margin-top: 0;
        }            
            
    }
}


/*avatar fade in*/
@keyframes avatar-fade-in {
  0%   { opacity: 0; }
  80% { opacity: 0; }
  100% { opacity: 1; }
}

.UserAvatar {
    animation: avatar-fade-in 1.5s;
}

.lia-profile-hero-user .UserAvatar,
.main-nav-items .UserAvatar,
.lia-slide-menu-content .UserAvatar {
    animation: none;
}

.lia-quilt-view-profile-hero .lia-user-avatar, .lia-quilt-view-profile-hero .lia-media-top-image-contributors .lia-media-image-contributor-avatar-wrapper, .lia-media-top-image-contributors .lia-quilt-view-profile-hero .lia-media-image-contributor-avatar-wrapper {
    border-radius: 0%;
}

.UserAvatar > img {
    border-radius: 0%;
    height: auto;
}

.lia-image-cropper canvas {
    border-radius: 0%;
}

/***** user profile ***/
.lia-quilt-view-profile-hero {
    color: #0073cf;

    .UserOnline {
        color: #0073cf;
    }
}

.lia-quilt-view-profile-hero .lia-profile-hero-avatar-wrapper:after {
    content: '';
    position: absolute;
    width: 50px;
    height: 50px;
    top: -2px;
    left: -2px;
    border-top: 60px solid #fff;
    border-right: 60px solid rgba(0, 0, 0, 0);
}

/***** main nav ***/



.main-nav-items .last .UserAvatar.lia-link-navigation {
    position: absolute;
    display: block;
    overflow:hidden;
    top:-40px;

    img {
        display: block;
    }

    &:after {
         content: '';
         position: absolute;
         width: 15px;
         height: 15px;
         top: -1px;
         left: 0px;
         border-top: 15px solid #fff;
         border-right: 15px solid rgba(0, 0, 0, 0);
    }
}

.main-community-nav.isAdmin {
    .main-nav-items .last .UserAvatar.lia-link-navigation {
        &:after {
            border-top: 15px solid #279EDA;
        }
    }
}


/***** side out nav ***/
.lia-slide-menu-content .UserAvatarProfile:after {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    top: -1px;
    left: 50%;
    margin-left: -33px;
    border-top: 23px solid #fff;
    border-right: 23px solid rgba(0, 0, 0, 0);
}

.lia-slide-menu-content .UserAvatarProfile {
    position: relative;

}

.cMessageAuthorAvatarColumn .lia-component-messages-column-message-author-avatar {
    position: relative;
    overflow:hidden;

    &:after {
        content: '';
        position: absolute;
        width: 20px;
        height: 20px;
        top: -1px;
        left: 50%;
        margin-left: -33px;
        border-top: 23px solid #fff;
        border-right: 23px solid rgba(0, 0, 0, 0);
    }
}

.UserList .lia-user-item .lia-user-avatar,
.UserList .lia-user-item .lia-media-top-image-contributors .lia-media-image-contributor-avatar-wrapper,
.lia-media-top-image-contributors .UserList .lia-user-item .lia-media-image-contributor-avatar-wrapper {
    position: relative;

    &:after {
        content: '';
        position: absolute;
        width: 20px;
        height: 20px;
        top: -1px;
        left: 50%;
        margin-left: -33px;
        border-top: 23px solid #fff;
        border-right: 23px solid rgba(0, 0, 0, 0);
    }
}

.KudosUserPage .UserListBlock .lia-user-avatar > .lia-link-navigation {
    position: relative;
    display:block;
    overflow:hidden;

    &:after {
        content: '';
        position: absolute;
        width: 20px;
        height: 20px;
        top: -1px;
        left: 50%;
        margin-left: -33px;
        border-top: 23px solid #fff;
        border-right: 23px solid rgba(0, 0, 0, 0);
    }
}

.lia-quilt-column-user-search-result .lia-link-navigation,
.UserProfileSummary .lia-user-avatar{
    position: relative;
    overflow:hidden;
    display:block;

    &:after {
        content: '';
        position: absolute;
        width: 20px;
        height: 20px;
        top: -1px;
        left: 50%;
        margin-left: -33px;
        border-top: 23px solid #fff;
        border-right: 23px solid rgba(0, 0, 0, 0);
    }

}

.UserProfileSummary .lia-user-name-link {
    &:after {
         display: block;
    }    
}

/*on white bg banner background green*/
.lia-quilt-row-navigation ~ .lia-quilt-row:nth-child(even) .lia-panel {
    background: #E5F5F5;

    .UserProfileSummary .lia-user-avatar {
        &:after {
             border-top-color: #E5F5F5;
        }
    }
}
