.BlogPage {
    .lia-menu-bar-top {
        display: none;
    }
    .zk-search-bar {
        background-color: transparent;
    }
}

.blog-overview {
    /*keep margins masonry columns the same*/
    margin-left: -5px;
    margin-right: -5px;    
    .blog-item {
        display: block;
        /*border: 1px solid;*/
        margin-bottom: 10px;
        background: #fff;
        border-radius: 4px;

        a {
            display: block;
        }
    }
    .blog-image {
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;            
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;        
        &:before {
            padding-top: 79%;
        }      

        /*img {
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;            
        }*/
    }
    
    .blog-description {
        padding: 1.5em;
        > * {
            margin: .25em 0;
        }
    }
    .blog-title {
        margin-top: 0;        
        color: $blueDark;
        font-size: 1.2em;
        line-height: 1.35;
    }
    .blog-kudos, .blog-views {
        margin-right: 1em;
        &:before {
            font-family: zk-centralenav-fontregular;
            margin-right: .5em;
        }        
    }
    .blog-kudos {
        &:before {
            content: '\2a';
        }        
    }    
    .blog-views {
        &:before {
            content: '\66';
        }            
    }
    
    .blog-date {
        color: $blueLighter;
    }    

}


.lia-component-customBlogArticlesList {
    background: transparent;
    .lia-panel-content {
        padding: 0;
    }
    .show-more-line {
        text-align: center;
        margin-top: 2em;        
    }    
}

.BlogArticlePage,
.lia-blog.EditPage {
    .CommentEditorForm {
        background-color: $moreBlueLightLithium;
        #tabgroup.lia-tabs-standard-wrapper {
            padding: 0;
        }
    }
    #tabgroup.lia-tabs-standard-wrapper {
        margin-top: 1.0rem;
        padding: 0;
        background-color: $moreBlueLightLithium;
        .lia-tabs-standard {
            background-color: $moreBlueLightLithium;
            margin: 0 0 8px 0;
            .lia-tabs {
                border-left: none;
                &.lia-tabs-inactive {
                    background-color: $blueLightest2;
                }
                a {
                    font-size: 18px;
                    color: $blueDarkest;
                    padding: 10px 30px;
                }
            }
        }
    }
    .message-body-editor {
        margin-top: -8px;
        padding: 2.0rem;
        background-color: $white;
        .mce-panel.mce-toolbar-grp {
            background-color: $white;
        }
    }
    .lia-component-blog-banner {
        .lia-panel-content {
            padding: 0;
        }
    }
    .lia-quilt-row-main {
        padding-top: 0;
        .lia-message-body-wrapper {
            margin-top: 0;
            .lia-message-image-wrapper {
                display: block;
                margin-bottom: 2.0rem;
            }
        }
    }
    .lia-component-blog-banner-2017 {
        margin-bottom: 0;
        .blog-banner-2017 {
            margin: 0 auto;
            max-width: 738px;
        }
    }
    .lia-top-quilt .lia-quilt-row-navigation  ~ .lia-quilt-row .lia-quilt-column-alley {
        max-width: 738px;
    }
    .lia-message-labels {
        border-bottom: 0;
    }
    
    .BreadCrumb {
        margin-bottom: 2.5em;
    }
    .lia-quilt-blog-article > .lia-quilt-row {
        padding-left: 0;
        padding-right: 0;
    }
    
    .lia-panel-message-root .lia-quilt-row-footer {
        border-top: 0;
        position: relative;
    }

    .lia-blog-article-page-article-subject {
        font-size: 2.65em;
        font-weight: 100;
        line-height: 1.25;
        color: $blueDark;
        padding-right: 5.0rem;
        position: relative;
        .lia-quilt-row-header {
            height: 1px;
            .lia-quilt-column-header-right {
                position: static;
                .lia-menu-navigation-wrapper {
                    position: static;
                    .lia-menu-navigation {
                        position: absolute;
                        top: 0;
                        right: 0;
                    }
                }
            }
        }
    }

    .lia-panel-message .lia-component-post-date {
        margin-left: 0;
    }
    .KudosButton {
        min-width: 171px;
    }

    .lia-quilt-blog-topic-message > .lia-quilt-row-header,
    .lia-quilt-blog-topic-message > .lia-quilt-row-footer {
        border: none;
        padding: 0;
        .KudosButton {
            position: absolute;
            top: 127px;
            left: 81px;
            z-index: 2;
        }
    }
    #commentOnThis {
        position: absolute;
        top: 127px;
        z-index: 2;
        right: 0;
    }
    .lia-quilt-blog-topic-message > .lia-quilt-row-header .lia-quilt-column-header-left .lia-message-post-date {
        display: block;
    }
    .lia-quilt-row-footer {
        padding: 0;
    }
    @media screen and (max-width: 991px) {
        .lia-quilt-column-footer-left {
            margin-bottom: 0;
        }
    }
    @media screen and (max-width: 783px) {
        .lia-quilt-row-main .lia-message-body-wrapper {
            padding: 2.0rem;
        }
    }
    @media screen and (max-width: 767px) {
        .lia-quilt-blog-topic-message .lia-quilt-row-footer {
            padding: 2.0rem 2.0rem 0 2.0rem;
            .lia-message-author-avatar {
                position: static;
                left: auto;
            }
        }
        .lia-component-message_social {
            padding: 0 2.0rem;
        }
    }
    @media screen and (max-width: 662px) {
        .lia-quilt-blog-topic-message > .lia-quilt-row-footer {
            .KudosButton {
                top: 88px;
            }
            > .lia-quilt-column-footer-right {
                float: none;
                width: 100%;
                clear: left;
            }
        }
        .lia-component-message_social {
            padding: 0 2.0rem 5rem 2.0rem;
        }
        #commentOnThis {
            top: 64px;
            left: 0;
            right: auto;
        }
    }
}

.lia-blog.EditPage {
    .lia-quilt-blog-topic-message > .lia-quilt-row-footer .KudosButton {
        left: 0;
    }
}

@media screen and (min-width: 768px) {
    .blog-overview {
        margin-top: 50px;
        .bricklayer-column-sizer {
            width: 33%;
        }
    } 
}

@media screen and (max-width: 768px) {
    .blog-overview {
        .bricklayer {
            .bricklayer-column-sizer {
                width: 50%;
            }
        }
        .blog-title {
            font-size:  1.35em;
        }
    }
}

@media screen and (max-width: 662px) {
    .blog-overview {
        .bricklayer {
            display: inline !important;
            .bricklayer-column-sizer {
                width: 100%;
            }
        }
        .blog-image {
            background-position-y: 45%;           
            &:before {
                padding-top: 58%;
            }
        }
        .blog-title {
            font-size:  1.2em;
        }
    }

    .BlogArticlePage {
        .lia-blog-article-page-article-subject {
            font-size: 2.2em;
        }
        .lia-component-blog-banner {
            margin-bottom: 1em;
        }
        
        .BreadCrumb {
            margin-bottom: 1.6em;
        }
        
        .lia-quilt-blog-article {
            .lia-quilt-column-footer-left, 
            .lia-quilt-column-footer-right { 
            
            /*.lia-quilt-column-right {*/
                width: 100%;
            }
            .lia-component-blogs-action-comment-on-this .lia-message-comment-post span {
                display: inline-block;
            }
        }
        .lia-panel-message-content .lia-menu-navigation-wrapper {
            position: absolute;
            right: 0;
        }        
    }
}