/*default fill corner white*/
.icon-svg-corner {
    fill: #fff;
    pointer-events: none;
}   

/*row green*/
.lia-quilt-row-navigation ~ .lia-quilt-row:nth-child(odd)     {
    .items-list {
        .icon-svg-corner {
            fill: #fff; 
        }
    }
    .top-authors {
        .icon-svg-corner {
            fill: $moreBlueLightLithium;
            pointer-events: none;
        }        
    }
}
/*row white*/
.lia-quilt-row-navigation ~ .lia-quilt-row:nth-child(even)     {
    .items-list {
        .icon-svg-corner {
            fill: $moreBlueLightLithium;
        }
    }
    .top-authors {
        .icon-svg-corner {
            fill: #fff;
            pointer-events: none;
        }        
    }    
}