.lia-panel-message {
    
    .lia-button-image-kudos-give,
    .lia-button-image-kudos-count {
        margin-right: 1em;
        
        /*.lia-button-image-kudos-give {
            margin-right: 1em;
        }x*/
        /*.lia-link-navigation {
        }        */
        
    }
                        
    /*bleh*/
    .lia-button-image-kudos .kudos-count-link, 
    .lia-button-image-kudos .kudos-count-link:active, 
    .lia-button-image-kudos .kudos-count-link:active:focus, 
    .lia-button-image-kudos .kudos-count-link:active:hover, 
    .lia-button-image-kudos .kudos-count-link:focus, 
    .lia-button-image-kudos .kudos-count-link:hover, 
    .lia-button-image-kudos .kudos-count-link.lia-link-disabled, 
    .lia-button-image-kudos .kudos-count-link.lia-link-disabled:active, 
    .lia-button-image-kudos .kudos-count-link.lia-link-disabled:active:focus, 
    .lia-button-image-kudos .kudos-count-link.lia-link-disabled:active:hover, 
    .lia-button-image-kudos .kudos-count-link.lia-link-disabled:focus, 
    .lia-button-image-kudos .kudos-count-link.lia-link-disabled:hover {
        background-color: $lithium-blue-light;
        border-radius: 4px;
        /*margin-left: 1em;*/
    }
    

    .lia-message-kudos {

        .kudos-link {
            &:before {
                /*content: 'D';*/
                color: #fff;
            }	
            &:after {
                content: 'Like';
                font-family: $sansFontFamily;
                color: #fff;
            }
            &:active, &:focus, &:hover {
                border-width: 0 0 2px 0;			
            }
            &.lia-link-disabled {
                content: 'Liked';            
            }            
        } 
    }

    .lia-button-wrapper.lia-component-promote-message-button {
        display: none;
    }
}

.message_social_container {
    .btn.btn-normal {
        padding: 6px 16px;
        font-weight: bold;
    }
}

.lia-button-image-kudos .kudos-count-link.lia-link-disabled:hover,
.lia-panel-message .lia-button-image-kudos .kudos-count-link.lia-link-disabled,
.lia-panel-message .lia-button-image-kudos .kudos-count-link {
    border-bottom: 4px solid $lithium-blue-light;
    padding: 7px 12px 5px;
}

.lia-component-message_social {
    display: inline-block;
    margin:0;

    .lia-panel-content {
        padding: 0;
        margin: 0;
    }
}

#message_social_container {
    margin: 0;
    margin-right:10px;
    display:inline-block;
    .btn {
        padding: 6px 12px;
        font-weight:bold;

    }

    .btn::before {
        display: inline-block;
        font: normal normal normal 16px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        transform: translate(0, 0);
        content: "\f1e0";
        color: #fff;
        margin-right: 4px;
    }
}

.message_social_sharing {
    display: none;
    position: absolute;
    background-color: #fff;
    z-index: 10;
    border:2px solid #0068bd;
    border-radius: 4px;

    li {
        padding:0;
        margin:0;
        list-style-type: none;
    }

    a {
        display: block;
        padding:10px 10px 10px 30px;
        position: relative;
    }

    a:before {
        position: absolute;
        display: inline-block;
        font: normal normal normal 16px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        transform: translate(0, 0);
        content: "\f081";
        left:10px;
        margin-top: 3px;
    }

    .share_twitter a:before {
        content: "\f081";
    }

    .share_fb a:before {
        content: "\f082";
    }

    .share_email a:before {
        content: "\f003";
    }
}

.lia-user-navigation-sign-in {

    .user-navigation-user-profile {
        padding-right: 0;
    }

    a {
        color:#fff;
    }

    a:hover {
        text-decoration: none;
    }
}
