.ReplyPage {
    form {
        .lia-form-subject-entry,
        .MessageEditor .lia-form-label-wrapper {
            display: none;
        }
    }
}

.lia-form {
    padding: 2.0rem;
    &.SearchForm {
        padding: 0;
    }
    .MultipleAttachments {
        .lia-existing-attachments-field {
            margin-bottom: 0;
        }
        .lia-new-attachments-field {
            margin-top: 0;
            &:before {
                content: 'Kies bestand';
                position: absolute;
                left: 1.0rem;
                font-size: 18px;
                font-size: 1.8rem;
                font-weight: 600;
            }

            input {
                opacity: 0;
                width: 150px;
            }
        }
        .infospan {
            vertical-align: sub;
        }
    }

}