.ReplyPage {
    form {
        .lia-form-subject-entry,
        .MessageEditor .lia-form-label-wrapper {
            display: none;
        }
    }
}

.lia-form {
    padding: 2.0rem;
    &.SearchForm {
        padding: 0;
    }
}