/*.CommunityPage .lia-component-quilt-header,*/
.lia-body .lia-component-quilt-header {
    border-bottom: 0;
}

/*login box*/
#lia-body .lia-content .userlogin {
   background: #fff;
   .lia-panel-heading-bar {
        font-family: titillium_websemibold,sans-serif;
        line-height: 1.2em;
        font-size: 1.3em;
        padding: 7px 10px;
        color: #00508f;
   }
}
#lia-body .lia-content .userlogin.logged-on::before {
    background: #fff;
}


/*hide stuff:*/
.lia-quilt-category-page-forum2016 .lia-breadcrumb {
    display: none;
}


.lia-quilt-vitality {
    border-bottom: 0;
}

.lia-vitality-users-online {
    color: $blue;
    font-size: 1.2em;
    &:before {
        content: 'Er zijn nu';
        background-image: none;
        width: auto;
        height: auto;
        margin-right: 0;

    }
    &:after {
        content: 'gebruikers online'
    }
    .lia-vitality-key {
        display: none;
    }
    .lia-vitality-stats {
        margin-left: .25em;
    }
    .lia-vitality-value {
        font-size: 1.5em;
        font-weight: bold;
        border: 1px solid $blue;
        @mixin border-radius $baseBorderRadius;
        padding: 0 .2em;
        line-height: 1.35em;
        color: $blue;
    }
}


.lia-quilt-category-page-forum2016 {
    .lia-component-custom-latest-post-category-all {
        padding-top: 40px;
        /*background: transparent;        */
    }
}


/*.InfoMessage */
.lia-component-common-widget-page-feedback {
    background-color: #ceecdd;
    border-color: #bce5c9;
    color: #24b6a6;

    .lia-text {
        a, a:link, a:visited {
            color: #24b6a6;
        }
    }
}


.lia-message-signature {
    font-size: .7em;
    font-style: italic;
    display: block;
    margin-top: 1em !important;
}



.lia-breadcrumb {

    > .lia-list-standard-inline > li + li:before {
        content: '\61';
        font-family: zk-centralenav-fontregular;
        color: $pink;
        padding-left: 0;
    }

    .lia-list-standard-inline {
        .crumb {
            &:first-child a {
                padding-left: 0;
            }
        }
    }
}

/*kan dit bij allemaal? nog checken iedergeval blog article*/
.lia-quilt-comment-message > .lia-quilt-row-header,
.lia-quilt-layout-one-column-message > .lia-quilt-row-header,
.lia-quilt-layout-two-column-message > .lia-quilt-row-header,
.lia-quilt-layout-blog-message > .lia-quilt-row-header,
.lia-quilt-layout-forum-message > .lia-quilt-row-header,
.lia-quilt-blog-article > .lia-quilt-row-header {
    padding: 0;
}
.lia-quilt-comment-message > .lia-quilt-row-main,
.lia-quilt-layout-one-column-message > .lia-quilt-row-main,
.lia-quilt-layout-two-column-message > .lia-quilt-row-main,
.lia-quilt-layout-blog-message > .lia-quilt-row-main,
.lia-quilt-layout-forum-message > .lia-quilt-row-main,
.lia-quilt-blog-article > .lia-quilt-row-main {
    padding-left: 0;
    padding-right: 0;
}


/*custom box in content?*/
.lia-message-body-content {
    > div {
        border: 0 !important;
        border-radius: 4px !important;
        margin: 0 !important;
    }
}


.quote-message-link {
    display: none;
}

.lia-panel-section {
    margin-left: 0;
    margin-right: 0;
}


ul.defaultlist {
	display: table;
    list-style: none;
    margin-left: 0;
    padding-left: 0;
    li {
        display: table-row;
        &:before {
			content: '\2022';
			display: table-cell;
			padding-right: 7.5px;
        }
    }
}

.li-common-scroll-to-wrapper {
    display: none;
}

.li-common-scroll-to-wrapper .li-common-scroll-to-link {
    color: #0068BD;
}

@media screen and (max-width: 767px) {
    .li-common-scroll-to-wrapper .li-common-scroll-to-link {
        font: inherit;
    }
    .li-common-scroll-to-wrapper .li-common-scroll-to-link:before {
        margin-right: 5px;
    }
}

@media screen and (max-width: 991px) {

    .li-common-scroll-to-wrapper {
        display: block;
    }


    .lia-breadcrumb {
        padding: 0 $page-padding;

        > .lia-list-standard-inline > .crumb:nth-last-of-type(3) > .lia-link-navigation:before {
        color: $pink;
        }
    }
    .CommentEditorForm {
        padding: 0 $page-padding;
    }

    .lia-quilt-column-alley-single > .lia-menu-bar {
        margin-left: 0;
        margin-right: 0;
    }
}

.CommunityPage {
    @media screen and (max-width: 992px) {
        .lia-quilt-row-navigation ~ .lia-quilt-row:nth-child(even) .banner {
            background-color: transparent;
        }

        .lia-quilt-column-alley-right {

            .section-btn {
                max-width: auto;
                margin: 2em auto;

                &.banner {
                    background-color: transparent;
                    text-align: center;
                }

                .btn-block {
                    display: inline-block;
                    width: auto;
                    padding: 6px 16px;

                }
            }
        }
    }
}

.CommunityPage {
    .lia-quilt-row-feedback {
        background-color: $moreBlueLightLithium;
        .lia-panel-feedback-banner-note.InfoMessage {
            background-color: $moreBlueLightLithium;
        }
    }
}

.lia-quilt-row-feedback {
    background-color: $white;
    .lia-panel-feedback-banner-note.InfoMessage {
        background-color: $white;
        .lia-text {
            background-color: $turquoise;
            border-radius: 4px;
            font-weight: 600;
            text-align: center;
            padding: 12px 0;
            p,
            ul,
            li {
                display: inline;
                a.lia-link-navigation.login-link {
                    color: $white;
                    font-weight: 400;
                }
            }
        }
    }
}

.lia-component-blog-article-options .default-menu-option:before,
.lia-component-search-actions .default-menu-option:before,
.lia-message-options .default-menu-option:before,
.lia-tab-overflow .default-menu-option:before,
.lia-quilt-column-sub-header-main .default-menu-option:before {
    background: none;
    content: '\f141';
}

.lia-common-slide-menu .lia-slide-menu-content {
    background: #fff;
}

.lia-common-slide-menu .lia-slide-menu-overlay.lia-slide-menu-overlay-open {
    background: #fff;
}

.lia-community-nav-node {

    .lia-nav-back > .lia-nav-action {
        color: #555;
    }

    .lia-nav-header .lia-nav-header-title {
        color: #555;
        display: block;
        text-align: center;
        line-height: 2;

        &:hover {
            color: #555;
        }
    }

    .lia-nav-icon-left {
        display:none;
    }

    .lia-nav-item-text {
        padding-left: 0;
        text-align: center;
        font-size:20px;
        padding-right: 0;
    }

    .lia-nav-item {
        background: #fff;
        border-bottom: 1px solid #eee;
    }

    .lia-nav-action {
        color: #555;
        text-align: center;
    }
    .lia-nav-action:active,
    .lia-nav-action:focus,
    .lia-nav-action:hover {
        background-color: #e7e7e7;
        color: #555;
        text-decoration: none;
    }
}

.RecentPostsPage .lia-message-view-display .lia-message-discussion-style-icon,
.RecentPostsPage .lia-note-view-display .lia-message-discussion-style-icon {
    left: -50px;
}


.lia-message-view-display .lia-message-discussion-style-icon,
.lia-note-view-display .lia-message-discussion-style-icon {
    left: 0;

    @media screen and (max-width: 999px) {
        left: 20px;
    }

}

.lia-message-view-display .lia-quilt-column-full-content > .lia-quilt-column-alley,
.lia-message-view-display .lia-quilt-column-left-content > .lia-quilt-column-alley {
    margin-left: 58px;
    margin-right: 40px;
    @media screen and (max-width: 999px) {
        margin-left: 78px;
    }
}

.lia-message-view-message-search-item,
.lia-message-view-display.lia-message-view-recent-posts-item {
    padding-left:70px;
    margin-bottom: 2px;
    padding-right:40px;
}

.lia-content .lia-message-read.lia-message-read > .lia-link-navigation {
    font-weight: normal;
    display: inline-block;
}

.lia-content h2.message-subject {
    line-height:1.2;
}

.lia-message-view-message-search-item .lia-message-item-metadata-side,
.lia-message-view-display .lia-message-item-metadata-side {
    margin-right: 0px;
}

.ViewProfilePage {

    .lia-media-image-list.lia-media-image-list {
        width:102%;
        margin-left: -1%;
    }

    .lia-menu-bar .lia-menu-bar-buttons {
        display: inline-block;
    }

    .default-menu-option:after, .lia-common-dropdown-toggle:after {
        color: #279EDA;
        content: "\f104";
        transform: rotate(-90deg);
        margin-left: 10px;
        position: relative;
        top: 3px;
    }

    #actionMenuDropDown {
        margin-top:20px;

        .lia-js-menu-opener {
            background-color: transparent;
            border:1px solid #279EDA;
            color:#279EDA;
        }
    }

    .lia-quilt-column-search-content {
        border-top: 0px solid #fff;
        top: 0px;
    }
}


@media screen and (max-width: 999px) {
    .lia-decoration-border-menu-bar-content {
        margin-left: 20px;
        margin-right: 20px;
    }

    .TkbPage .lia-decoration-border-menu-bar-content {
        margin: 0 0 20px 0;
    }

}
.CategoryPage .lia-component-tkb-widget-recent-tkb-articles-taplet {
    .lia-view-all-tkb-articles {
        display: none;
    }
}


/****************************/

.lia-tabs-standard li > span > a:active,
.lia-tabs-standard li > span > a:focus,
.lia-tabs-standard li > span > a:hover,
.lia-tabs-standard .lia-tab-overflow .default-menu-option:active,
.lia-tabs-standard .lia-tab-overflow .default-menu-option:focus,
.lia-tabs-standard .lia-tab-overflow .default-menu-option:hover,
.lia-tabs-standard .lia-tabs-active > span > a:active,
.lia-tabs-standard .lia-tabs-active > span > a:focus,
.lia-tabs-standard .lia-tabs-active > span > a:hover,
.lia-tabs-standard > .lia-tabs-active .default-menu-option:active,
.lia-tabs-standard > .lia-tabs-active .default-menu-option:focus,
.lia-tabs-standard > .lia-tabs-active .default-menu-option:hover {
    border-bottom: 0px solid #0691c1;
}

#tabgroup.lia-tabs-standard-wrapper {
    margin-top:30px;
    padding: 20px;
}


.lia-tabs-standard-wrapper {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;

    background-color: #fff;
    margin-top:30px;

    .lia-tabs-secondary:not(.lia-tabs-vertical) > li > span > a:focus,
    .lia-tabs-secondary:not(.lia-tabs-vertical) > li > span > a:hover {
        background-color: #f4f6f7;
        text-decoration: none;
        color:#279EDA;
    }

    .lia-tabs-secondary {

        .lia-link-navigation {
            text-transform: capitalize;
            font-size: 1em;
            padding-left: 0;
            @media screen and (max-width: 999px) {
                font-size: 14px;
            }
        }

        .lia-tabs {
            margin-right: 0px;
            position: relative;
            background-color: #279EDA;
            z-index: 10;
            border-left: 1px solid #fff;
            border-radius: 0 10px 0 0;

            a {
                padding: 10px;
                border-bottom-color: transparent;
                color: #E5F5F5;
            }
        }

        .lia-tabs-active {
            background-color: #fff;
            z-index: 20;

            a {
                color: #002857;
            }

        }
    }

    .lia-tabs-standard {
        border: 0;
        margin: 0 0 0 -20px;
        overflow:hidden;
        border-bottom-width:0;

        .lia-link-navigation {
            text-transform: capitalize;
            font-size: 14px;
            padding-left: 0;
        }

        .lia-tabs {
            margin-right:0px;
            position:relative;
            background-color: #279EDA;
            z-index:10;
            border-left:1px solid #fff;
            border-radius : 0 10px 0 0;

            a {
                padding: 10px;
                border-bottom-color: transparent;
                color:#E5F5F5;
            }
        }

        .lia-tabs-active {
            background-color: $white;
            z-index:20;

            a {
                color:#002857;
            }

        }
    }
}

.lia-ajax-loader-feedback, .lia-panel-status-banner-note, .lia-quilt-column-feedback .lia-component-common-widget-page-information {
    background-color: #279EDA;
    border-color: #279EDA;
    color: #fff;
    margin: 0 auto 20px;
    max-width:980px;
}


form .lia-list-tree-toggle:before,
form .lia-fa,
form .lia-fa.lia-fa-thread.lia-fa-tkb:before {
    color : #279EDA;
}


.boardIconColumn .lia-fa-forum,
.lia-message-discussion-style-icon .lia-fa-forum,
.lia-nav-item-container .lia-fa-forum,
.lia-notification-feed-icon .lia-fa-forum {
    background-color: #279EDA;
}

.lia-component-users-widget-unsaved-drafts,
.CategoryListDisplay {
    margin-right: auto;
    margin-left: auto;
    max-width: 980px;
}

.UserAvatarSelectorTabs {
    padding-top: 30px;
}

a.tab-link:focus {
    outline: none;
    outline-offset: 0;
}

.KudosLeaderboardPage .TopUsersLeaderBoard .UserSearchItemContainer {
    width: 100%;
}

@media (min-width: 999px) {
    .KudosLeaderboardPage .TopUsersLeaderBoard .UserSearchItemContainer {
        width: 50%;
    }
}

#recaptcha_image {
    height:auto !important;
}

.UserLoginPage {
    .lia-quilt-row-main {
        margin:0 auto;
        max-width:980px;
    }
}

.VerifyUserEmailPage .lia-quilt-column-main-content-one .CustomContent {
    padding: 20px;
}

.lia-component-menu-bar, .lia-menu-bar {
     margin-bottom: 0;
}

.lia-panel-feedback-banner-note {
    background-color: #279EDA;
    border-color: #279EDA;
    color: #fff;
    margin-bottom: 20px;
}

.EmailMessagePage,
.MessageHistoryPage,
.ConfirmationPage,
.MoveMessagesPage,
.EditPage {
    .lia-quilt-row-main {
        max-width:980px;
        margin : 0 auto;
    }
}

@media screen and (max-width: 767px) {
    .SimpleMessageList > .MessageList .lia-list-wide .lia-list-row {
        padding-left: 50px;
    }
}

@media screen and (max-width: 767px) {

    .BlogArticlePage .lia-component-blogs-action-comment-on-this .lia-message-comment-post span {
         display: inline-block;
    }
}

.user-navigation-settings-dropdown-link {
    .login {
        display: none;
    }
}

/*************/

.ie9 {
    footer {
        .footer-awards {
            .box {
                height: 240px !important;
            }
        }

        .row-fluid {
            display: block;
            overflow: hidden;
        }

        .span16 {
            width: 65.5%;
            margin-left:.5%;
            margin-right:.5%;
            float:left;
        }

        .span8 {
            width: 32.25%;
            margin-left:.5%;
            margin-right:.5%;
            float:left;
        }

    }

    .lia-quilt-idea-exchange-page-ideas2016 {

        .﻿row-eq-h {
            display: block;
            overflow: hidden;
        }

        .full-width-paragraph .box {
            width: 32.25%;
            margin-left:.5%;
            margin-right:.5%;
            float:left;
        }

    }
}

.marker {
    border-radius: 60px;
    text-align: center;
    font-size: .1rem;
    width: 60px;
    height: 60px;
    line-height: 60px;
    position: absolute;
    left: calc(50% - 30px);
    bottom: -30px;
    color: $blue;
    background-color: $blueLightest3;
    cursor: pointer;
    &:after {
        font-family: 'zk-centralenav-fontregular';;
        content: '\63';
        font-style: normal;
        font-weight: 400;
        speak: none;
        line-height: 1;
        display: inline-block;
        vertical-align: middle;
        padding: 0;
        font-size: 22px;
        -webkit-font-smoothing: antialiased;
    }
}

.lia-users-current-user-profile-card {
    font-family: "PT Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding-top: 50px;
    text-align: center;
    display: block;

    .UserAvatarProfile {
        display: block;
        margin: 0 auto;
        width: auto;
        margin-bottom: 40px;
        & > img {
            height: 64px;
            width: 64px;
        }
    }

    .lia-users-profile-card-avatar {
        display: block;
        margin: auto;
    }

    .lia-users-profile-card-login {
        color: #0691c1;
        font-size: 20px;
        padding: 0 5px;
        text-decoration: none;
    }

    .lia-users-profile-card-rank {
        display: block;
        color: $blueDarkest ;
        font-size: 16px;
        font-weight: 200;
        padding-bottom: 40px;
        text-transform: uppercase;
    }
}

.lia-quilt-row-profile-stats {
    border-bottom: 1px solid $grayLightest;
    font-family: "PT Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding-bottom: 20px;
    text-align: center;

    .lia-users-stat-wrapper {
        display: inline-block;
        padding: 0 12px;
    }

    .lia-users-stat {
        color: #5c6a6e;
        font-size: 24px;
        text-decoration: none;

        &.lia-users-unread-notification-stat:before {
            color: #777777;
            content: "\f0a2";
            display: inline-block;
            font: normal normal normal 24px/1 FontAwesome;
            -moz-osx-font-smoothing: grayscale;
            -webkit-font-smoothing: antialiased;
            margin-right: 6px;
            text-rendering: auto;
            transform: translate(0, 0);
        }

        &.lia-users-private-messages-stat:before {
            color: #777777;
            content: "\f003";
            display: inline-block;
            font: normal normal normal 24px/1 FontAwesome;
            -moz-osx-font-smoothing: grayscale;
            -webkit-font-smoothing: antialiased;
            margin-right: 6px;
            text-rendering: auto;
            transform: translate(0, 0);
        }

        &.lia-users-posts-count-stat:before {
            color: #777777;
            content: "\f0e5";
            display: inline-block;
            font: normal normal normal 24px/1 FontAwesome;
            -moz-osx-font-smoothing: grayscale;
            -webkit-font-smoothing: antialiased;
            margin-right: 6px;
            text-rendering: auto;
            transform: translate(0, 0);
        }
    }
}

.ie,
.ie9,
.ie10 {
    #latest_blog_posts_list {
        display: block;
        overflow: hidden;

        .blog-item {
            width: 32.25%;
            margin-left:.5%;
            margin-right:.5%;
            float:left;
        }

        .blog-item:nth-child(3n+1){
            clear: both;
        }
    }
}

@media
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px) {

    /* Force table to not be like tables anymore */
    table, thead, tbody, th, td, tr {
        /*display: block;*/
    }


    td {
        /* Behave  like a "row" */
        /*border: none;*/
        /*position: relative;*/
    }
}

@media screen and (max-width: 662px) {
    .ViewProfilePage .lia-media-image-list.lia-media-image-list.lia-list-tile .lia-media-image-item {
        margin: 1px;
        width: calc(25% - (2 * 1px));
    }
}

.RelayFB {
    margin-bottom:20px;
}

.CommentEditorForm {
    border: 0;
    padding:0 20px;

    #tabgroup.lia-tabs-standard-wrapper {
        margin-top: 0px;
        padding: 0 20px 8px;
    }
}

.mce-panel.mce-toolbar-grp {
    background-color: #eee;
    border-radius: 0 10px 0 0;

}

.lia-button-image-kudos-horizontal .kudos-link.lia-link-disabled:active:after,
.lia-button-image-kudos-horizontal .kudos-link.lia-link-disabled:active:before,
.lia-button-image-kudos-horizontal .kudos-link.lia-link-disabled:focus:after,
.lia-button-image-kudos-horizontal .kudos-link.lia-link-disabled:focus:before,
.lia-button-image-kudos-horizontal .kudos-link.lia-link-disabled:hover:after,
.lia-button-image-kudos-horizontal .kudos-link.lia-link-disabled:hover:before {
     color: #FFF;
}

.lia-paging-full-wrapper.lia-paging-pager {
    margin-top: 20px;
}

.lia-panel-message-content .lia-message-subject,
.lia-message-tkb .lia-message-heading {
    margin-bottom: 0;
}

.contributing-user {
    float:left;
    margin:0 15px 0 -5px;

    .UserAvatar {
        display: none;
    }

    .lia-user-item .lia-user-avatar + .lia-user-attributes,
    .lia-user-item .lia-user-avatar {
        padding-right: 0;
    }

    .lia-user-attributes {

        padding: 0;

        a {
            color : #0068bd;
            border: 1px solid #0068bd;
            padding: .1em 1em;
            border-radius: 4px;
            display: inline-block;
            font-size: .95em;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            display: inline-block;

            &:hover {
                text-decoration : none;
             }

            span {
                color : #0068bd;

            }
        }
    }
}

.lia-component-quilt-user-profile-statistics .UserSingleStatistic.lia-statistic-net_overall_posts .lia-statistic-text,
.lia-component-quilt-user-profile-statistics .UserSingleStatistic.lia-statistic-net_overall_posts .lia-statistic-icon:before,
.lia-component-quilt-user-profile-statistics .UserSingleStatistic.lia-statistic-net_kudos_weight_received .lia-statistic-text,
.lia-component-quilt-user-profile-statistics .UserSingleStatistic.lia-statistic-net_kudos_weight_received .lia-statistic-icon:before,
.lia-component-quilt-user-profile-statistics .UserSingleStatistic.lia-statistic-net_accepted_solutions .lia-statistic-text,
.lia-component-quilt-user-profile-statistics .UserSingleStatistic.lia-statistic-net_accepted_solutions .lia-statistic-icon:before {
    color: #279EDA;
}

.boardIconColumn .lia-fa-idea,
.lia-message-discussion-style-icon .lia-fa-idea,
.lia-nav-item-container .lia-fa-idea,
.lia-notification-feed-icon .lia-fa-idea,
.boardIconColumn .lia-fa-tkb,
.lia-message-discussion-style-icon .lia-fa-tkb,
.lia-nav-item-container .lia-fa-tkb,
.lia-notification-feed-icon .lia-fa-tkb
.boardIconColumn .lia-fa-blog,
.lia-message-discussion-style-icon .lia-fa-blog,
.lia-nav-item-container .lia-fa-blog,
.lia-notification-feed-icon .lia-fa-blog {
    background-color: #279EDA;
}

.user-navigation-user-profile {
    display: block;
}

.default-menu-option:after, .lia-common-dropdown-toggle:after {
    content: "\f141";
    color:#0068BD;
    font-size: 18px;
}

.MyProfilePage {
    .lia-tabs-standard-wrapper .lia-tabs-standard {
        margin: -65px 0px 20px -20px;
    }
}

.lia-component-quilt-search-page-thread-filters .lia-common-dropdown-toggle {
    border: 1px solid #279EDA;
    color:#279EDA;
    padding: 5px 10px;
}

.lia-component-search-filter .default-menu-option:after, .lia-component-quilt-search-page-thread-filters .default-menu-option:after, .lia-component-search-filter .lia-common-dropdown-toggle:after, .lia-component-quilt-search-page-thread-filters .lia-common-dropdown-toggle:after {
    color: #279EDA;
    vertical-align: middle;
}

.default-menu-option, .lia-common-dropdown-toggle {
    background-image: none;
    border: 1px solid rgba(0, 0, 0, 0);
    padding: 6px 12px;
    color: #279EDA;
    background-color: #fff;
    border-color:#fff;
}

.default-menu-option:hover, .lia-common-dropdown-toggle:hover {
    color: #279EDA;
    background-color: #fff;
    border-color:#279EDA;
}

.lia-search-filter-bread-crumb-item .lia-search-filter-bread-crumb-link {
    background-color: #279EDA;
    color: #fff;
}

.lia-search-filter-bread-crumb-item .lia-filter-delete-icon {
    color: #fff;
}


.LabelsList .label {
    color: $blue;
}

.lia-menu-dropdown-items .SearchToggleFieldFilter.disabled label, .user-navigation-settings-drop-down-inner > .lia-list-standard .SearchToggleFieldFilter.disabled label, .lia-menu-dropdown-items .SearchToggleFieldFilter.disabled .lia-fieldset-title, .user-navigation-settings-drop-down-inner > .lia-list-standard .SearchToggleFieldFilter.disabled .lia-fieldset-title, .lia-menu-dropdown-items .SearchToggleFieldFilter.disabled .lia-component-tkb-article-editor-form .lia-form-compare-title, .lia-component-tkb-article-editor-form .lia-menu-dropdown-items .SearchToggleFieldFilter.disabled .lia-form-compare-title, .user-navigation-settings-drop-down-inner > .lia-list-standard .SearchToggleFieldFilter.disabled .lia-component-tkb-article-editor-form .lia-form-compare-title, .lia-component-tkb-article-editor-form .user-navigation-settings-drop-down-inner > .lia-list-standard .SearchToggleFieldFilter.disabled .lia-form-compare-title, .lia-menu-dropdown-items .SearchToggleFieldFilter.disabled .lia-component-tkb-article-editor-form .lia-revision-info-title, .lia-component-tkb-article-editor-form .lia-menu-dropdown-items .SearchToggleFieldFilter.disabled .lia-revision-info-title, .user-navigation-settings-drop-down-inner > .lia-list-standard .SearchToggleFieldFilter.disabled .lia-component-tkb-article-editor-form .lia-revision-info-title, .lia-component-tkb-article-editor-form .user-navigation-settings-drop-down-inner > .lia-list-standard .SearchToggleFieldFilter.disabled .lia-revision-info-title, .lia-menu-dropdown-items .SearchToggleFieldFilter.disabled .lia-component-tkb-article-editor-form .lia-related-messages-title, .lia-component-tkb-article-editor-form .lia-menu-dropdown-items .SearchToggleFieldFilter.disabled .lia-related-messages-title, .user-navigation-settings-drop-down-inner > .lia-list-standard .SearchToggleFieldFilter.disabled .lia-component-tkb-article-editor-form .lia-related-messages-title, .lia-component-tkb-article-editor-form .user-navigation-settings-drop-down-inner > .lia-list-standard .SearchToggleFieldFilter.disabled .lia-related-messages-title, .lia-menu-dropdown-items .SearchToggleFieldFilter .disabled label, .user-navigation-settings-drop-down-inner > .lia-list-standard .SearchToggleFieldFilter .disabled label, .lia-menu-dropdown-items .SearchToggleFieldFilter .disabled .lia-fieldset-title, .user-navigation-settings-drop-down-inner > .lia-list-standard .SearchToggleFieldFilter .disabled .lia-fieldset-title, .lia-menu-dropdown-items .SearchToggleFieldFilter .disabled .lia-component-tkb-article-editor-form .lia-form-compare-title, .lia-component-tkb-article-editor-form .lia-menu-dropdown-items .SearchToggleFieldFilter .disabled .lia-form-compare-title, .user-navigation-settings-drop-down-inner > .lia-list-standard .SearchToggleFieldFilter .disabled .lia-component-tkb-article-editor-form .lia-form-compare-title, .lia-component-tkb-article-editor-form .user-navigation-settings-drop-down-inner > .lia-list-standard .SearchToggleFieldFilter .disabled .lia-form-compare-title, .lia-menu-dropdown-items .SearchToggleFieldFilter .disabled .lia-component-tkb-article-editor-form .lia-revision-info-title, .lia-component-tkb-article-editor-form .lia-menu-dropdown-items .SearchToggleFieldFilter .disabled .lia-revision-info-title, .user-navigation-settings-drop-down-inner > .lia-list-standard .SearchToggleFieldFilter .disabled .lia-component-tkb-article-editor-form .lia-revision-info-title, .lia-component-tkb-article-editor-form .user-navigation-settings-drop-down-inner > .lia-list-standard .SearchToggleFieldFilter .disabled .lia-revision-info-title, .lia-menu-dropdown-items .SearchToggleFieldFilter .disabled .lia-component-tkb-article-editor-form .lia-related-messages-title, .lia-component-tkb-article-editor-form .lia-menu-dropdown-items .SearchToggleFieldFilter .disabled .lia-related-messages-title, .user-navigation-settings-drop-down-inner > .lia-list-standard .SearchToggleFieldFilter .disabled .lia-component-tkb-article-editor-form .lia-related-messages-title, .lia-component-tkb-article-editor-form .user-navigation-settings-drop-down-inner > .lia-list-standard .SearchToggleFieldFilter .disabled .lia-related-messages-title, .lia-menu-dropdown-items .type-filter-alternative.disabled label, .user-navigation-settings-drop-down-inner > .lia-list-standard .type-filter-alternative.disabled label, .lia-menu-dropdown-items .type-filter-alternative.disabled .lia-fieldset-title, .user-navigation-settings-drop-down-inner > .lia-list-standard .type-filter-alternative.disabled .lia-fieldset-title, .lia-menu-dropdown-items .type-filter-alternative.disabled .lia-component-tkb-article-editor-form .lia-form-compare-title, .lia-component-tkb-article-editor-form .lia-menu-dropdown-items .type-filter-alternative.disabled .lia-form-compare-title, .user-navigation-settings-drop-down-inner > .lia-list-standard .type-filter-alternative.disabled .lia-component-tkb-article-editor-form .lia-form-compare-title, .lia-component-tkb-article-editor-form .user-navigation-settings-drop-down-inner > .lia-list-standard .type-filter-alternative.disabled .lia-form-compare-title, .lia-menu-dropdown-items .type-filter-alternative.disabled .lia-component-tkb-article-editor-form .lia-revision-info-title, .lia-component-tkb-article-editor-form .lia-menu-dropdown-items .type-filter-alternative.disabled .lia-revision-info-title, .user-navigation-settings-drop-down-inner > .lia-list-standard .type-filter-alternative.disabled .lia-component-tkb-article-editor-form .lia-revision-info-title, .lia-component-tkb-article-editor-form .user-navigation-settings-drop-down-inner > .lia-list-standard .type-filter-alternative.disabled .lia-revision-info-title, .lia-menu-dropdown-items .type-filter-alternative.disabled .lia-component-tkb-article-editor-form .lia-related-messages-title, .lia-component-tkb-article-editor-form .lia-menu-dropdown-items .type-filter-alternative.disabled .lia-related-messages-title, .user-navigation-settings-drop-down-inner > .lia-list-standard .type-filter-alternative.disabled .lia-component-tkb-article-editor-form .lia-related-messages-title, .lia-component-tkb-article-editor-form .user-navigation-settings-drop-down-inner > .lia-list-standard .type-filter-alternative.disabled .lia-related-messages-title, .lia-menu-dropdown-items .type-filter-alternative .disabled label, .user-navigation-settings-drop-down-inner > .lia-list-standard .type-filter-alternative .disabled label, .lia-menu-dropdown-items .type-filter-alternative .disabled .lia-fieldset-title, .user-navigation-settings-drop-down-inner > .lia-list-standard .type-filter-alternative .disabled .lia-fieldset-title, .lia-menu-dropdown-items .type-filter-alternative .disabled .lia-component-tkb-article-editor-form .lia-form-compare-title, .lia-component-tkb-article-editor-form .lia-menu-dropdown-items .type-filter-alternative .disabled .lia-form-compare-title, .user-navigation-settings-drop-down-inner > .lia-list-standard .type-filter-alternative .disabled .lia-component-tkb-article-editor-form .lia-form-compare-title, .lia-component-tkb-article-editor-form .user-navigation-settings-drop-down-inner > .lia-list-standard .type-filter-alternative .disabled .lia-form-compare-title, .lia-menu-dropdown-items .type-filter-alternative .disabled .lia-component-tkb-article-editor-form .lia-revision-info-title, .lia-component-tkb-article-editor-form .lia-menu-dropdown-items .type-filter-alternative .disabled .lia-revision-info-title, .user-navigation-settings-drop-down-inner > .lia-list-standard .type-filter-alternative .disabled .lia-component-tkb-article-editor-form .lia-revision-info-title, .lia-component-tkb-article-editor-form .user-navigation-settings-drop-down-inner > .lia-list-standard .type-filter-alternative .disabled .lia-revision-info-title, .lia-menu-dropdown-items .type-filter-alternative .disabled .lia-component-tkb-article-editor-form .lia-related-messages-title, .lia-component-tkb-article-editor-form .lia-menu-dropdown-items .type-filter-alternative .disabled .lia-related-messages-title, .user-navigation-settings-drop-down-inner > .lia-list-standard .type-filter-alternative .disabled .lia-component-tkb-article-editor-form .lia-related-messages-title, .lia-component-tkb-article-editor-form .user-navigation-settings-drop-down-inner > .lia-list-standard .type-filter-alternative .disabled .lia-related-messages-title, .lia-common-dropdown-menu .SearchToggleFieldFilter.disabled label, .lia-common-dropdown-menu .SearchToggleFieldFilter.disabled .lia-fieldset-title, .lia-common-dropdown-menu .SearchToggleFieldFilter.disabled .lia-component-tkb-article-editor-form .lia-form-compare-title, .lia-component-tkb-article-editor-form .lia-common-dropdown-menu .SearchToggleFieldFilter.disabled .lia-form-compare-title, .lia-common-dropdown-menu .SearchToggleFieldFilter.disabled .lia-component-tkb-article-editor-form .lia-revision-info-title, .lia-component-tkb-article-editor-form .lia-common-dropdown-menu .SearchToggleFieldFilter.disabled .lia-revision-info-title, .lia-common-dropdown-menu .SearchToggleFieldFilter.disabled .lia-component-tkb-article-editor-form .lia-related-messages-title, .lia-component-tkb-article-editor-form .lia-common-dropdown-menu .SearchToggleFieldFilter.disabled .lia-related-messages-title, .lia-common-dropdown-menu .SearchToggleFieldFilter .disabled label, .lia-common-dropdown-menu .SearchToggleFieldFilter .disabled .lia-fieldset-title, .lia-common-dropdown-menu .SearchToggleFieldFilter .disabled .lia-component-tkb-article-editor-form .lia-form-compare-title, .lia-component-tkb-article-editor-form .lia-common-dropdown-menu .SearchToggleFieldFilter .disabled .lia-form-compare-title, .lia-common-dropdown-menu .SearchToggleFieldFilter .disabled .lia-component-tkb-article-editor-form .lia-revision-info-title, .lia-component-tkb-article-editor-form .lia-common-dropdown-menu .SearchToggleFieldFilter .disabled .lia-revision-info-title, .lia-common-dropdown-menu .SearchToggleFieldFilter .disabled .lia-component-tkb-article-editor-form .lia-related-messages-title, .lia-component-tkb-article-editor-form .lia-common-dropdown-menu .SearchToggleFieldFilter .disabled .lia-related-messages-title, .lia-common-dropdown-menu .type-filter-alternative.disabled label, .lia-common-dropdown-menu .type-filter-alternative.disabled .lia-fieldset-title, .lia-common-dropdown-menu .type-filter-alternative.disabled .lia-component-tkb-article-editor-form .lia-form-compare-title, .lia-component-tkb-article-editor-form .lia-common-dropdown-menu .type-filter-alternative.disabled .lia-form-compare-title, .lia-common-dropdown-menu .type-filter-alternative.disabled .lia-component-tkb-article-editor-form .lia-revision-info-title, .lia-component-tkb-article-editor-form .lia-common-dropdown-menu .type-filter-alternative.disabled .lia-revision-info-title, .lia-common-dropdown-menu .type-filter-alternative.disabled .lia-component-tkb-article-editor-form .lia-related-messages-title, .lia-component-tkb-article-editor-form .lia-common-dropdown-menu .type-filter-alternative.disabled .lia-related-messages-title, .lia-common-dropdown-menu .type-filter-alternative .disabled label, .lia-common-dropdown-menu .type-filter-alternative .disabled .lia-fieldset-title, .lia-common-dropdown-menu .type-filter-alternative .disabled .lia-component-tkb-article-editor-form .lia-form-compare-title, .lia-component-tkb-article-editor-form .lia-common-dropdown-menu .type-filter-alternative .disabled .lia-form-compare-title, .lia-common-dropdown-menu .type-filter-alternative .disabled .lia-component-tkb-article-editor-form .lia-revision-info-title, .lia-component-tkb-article-editor-form .lia-common-dropdown-menu .type-filter-alternative .disabled .lia-revision-info-title, .lia-common-dropdown-menu .type-filter-alternative .disabled .lia-component-tkb-article-editor-form .lia-related-messages-title, .lia-component-tkb-article-editor-form .lia-common-dropdown-menu .type-filter-alternative .disabled .lia-related-messages-title {
    color:#eee;
}
