.main-nav-hamburger {
    color: #fff;
    font-size: 2.5em;
    cursor: pointer;
    display: none;
    padding: 0 .5em;
}

@media screen and (max-width: 767px) {
    .lia-quilt-row.lia-quilt-row-main-header .lia-user-avatar img,
    .lia-quilt-row.lia-quilt-row-main-header .lia-media-top-image-contributors .lia-media-image-contributor-avatar-wrapper img,
    .lia-media-top-image-contributors .lia-quilt-row.lia-quilt-row-main-header .lia-media-image-contributor-avatar-wrapper img {
        height: auto;
        width: auto;
        position: absolute;
        top: -5px;
        right: -23px;
    }
}

.lia-quilt-row.lia-quilt-row-main-header {

    background-color: $blueLighter;

    @media screen and (min-width: 1000px) {
        display:none;
    }

    .lia-slide-out-nav-menu-wrapper:before {
        background: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 -2 20 20'%3E%3Cpath fill=' %23ffffff ' fill-rule='evenodd' d='M0 0h20v3H0zm0 7h20v3H0zm0 7h20v3H0z'/%3E%3C/svg%3E") center no-repeat;
    }

    .lia-nodes-community-title-text {
        display:none;
    }
}

.UserNavigation.lia-list-standard-inline li {
    padding-top: 1.0rem !important;
}

@media screen and (max-width: 999px) {
    .lia-component-common-widget-slide-out-user-menu .lia-notifications-messages-aggregate {
        right: -20px;
        top: -16px;
        display: block;
    }
}

@media screen and (min-width: 1000px) {
    .lia-component-common-widget-slide-out-user-menu .lia-notifications-messages-aggregate {
        right: 38px;
        top: -15px;
        display: block;
    }
}

.user-navigation-user-profile {
    padding-right: 0;
    float: right;
    padding-left: 0.2rem;
}

.main-community-nav {

    padding: 5px 0 6px;

    &.isAdmin {
        .main-nav-hamburger {
            display: inline-block;
        }
        .main-nav-items {
            display: none;
             &.menu-visible {
                display: block;
                margin-top:-20px;
             }
        }
    }

    @media screen and (max-width: 999px) {
        padding: 0;

        .user-navigation-settings-dropdown-link {
            padding-right: 50px;
        }

        .user-navigation-settings-dropdown-link > .UserAvatar {
            position: absolute;
            right: -10px;
            top: -3px;
        }

        &.isAdmin {
            .main-nav-hamburger {
                display: none;
            }
            .main-nav-items {
                display: block;
            }

            .grid-item{
                display: none;
            }

            .grid-item.last {
                display: block;
                position: absolute;
                top: -39px;
                right: 15px;
            }

        }

        .main-nav-hamburger {
            display: none;
        }
        .main-nav-items {
            display: block;
        }

        .grid-item{
            display: none;
        }

        ul.inline-grid.main-nav-items .grid-item.last {
            display: block;
            position: absolute;
            top: -40px !important;
            right: 20px !important;
        }

    }

    /*&.menu-visible{
        .main-nav-items {
            display: block;
        }
    }*/
    
    background: $blueLighter; 
    .wrapper {
        
    }
    .main-nav-item {
        margin-right: .5em;
    }
    .main-nav-link {
        color: #fff;
        padding: 1em .5em;
        display: block;
    }
    .main-nav-link, .lia-link-navigation {
        color: #fff;
        &.selected {
            background-color: $blueDarkest;
            @mixin border-radius $baseBorderRadius;
        }
    }    
    .user-navigation-user-profile {
        display: inline-block;
    }
}
/*big btn nav with postinfo*/
.main-community-big-nav {
    background: $blueLighter;
    padding-top: 1em;
    .main-nav-item {
        background-color: #fff;
        margin: 0 0 1em 0;
        @mixin border-radius $baseBorderRadius;
    }    
    .nav-link {
        position: relative;
    }
    .item-content {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        text-align: center;        
    }
    
    .item-footer {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 40%;
    }
    
    .main-nav-title {
        color: $blue;
        font-weight: 700;
    } 
    .main-nav-meta {
        color: $blueLighter;
        font-weight: 300;
    }
    .main-nav-title, .main-nav-meta {
        font-family: $titilliumHeavyFontFamily;
        font-size: 1.25em;
        @media screen and (max-width: 979px) {
            font-size: 1em;
            line-height:1.1;
        }
    }
    .main-nav-icon {
        width: 100%;
        height: 42%;
        margin-top: 18px;
        img {
            width: 100%;
            height: 100%;            
        }        
    }
    /*.Forum {
        .main-nav-icon {
            
        }
        
    }*/
}

.main-community-nav-2017 {
    padding: 3.0rem 0;
    position: relative;
    &.forum-navigation .section-heading h2.title {
        display: inline-block;
        position: relative;
        &:before {
            content: ' ';
            background: transparent url(/html/assets/arm-roze.png) center -40px no-repeat;
            position: absolute;
            width: 135px;
            height: 140px;
            left: -140px;
            top: -102px;
        }
    }
    .wrapper {
        max-width: 824px;
    }
    .grid-item {
        float: left;
        text-align: left;
        margin-bottom: 2rem;
        h3 {
            color: $blueDarkest;
            font-size: 2.8rem;
            font-weight: bold;
            margin-top: 1.5rem;
        }
        p {
            color: $blue;
            font-size: 2.0rem;
        }
    }
    .nav-row {
        position: relative;
        height: 120px;
    }
    .main-nav-item {
        background-color: $white;
        border-radius: 4px;
        border-bottom: 3px solid $borderGray;
        transition: all 700ms;
        &.has-subnav {
            a.nav-2017-link:after {
                font-family: zk-centralenav-fontregular;
                font-size: 2.5rem;
                content: '\63';
                top: 50%;
                -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
                position: absolute;
                right: 2.0rem;
                color: $pink;
            }
            &.open a.nav-2017-link:after {
                content: '\64';
            }
        }
        a.nav-2017-link {
            display: block;
            position: relative;
        }
        .main-community-subnav-2017 {
            position: absolute;
            top: 120px;
            left: 0;
            width: 100%;
            height: 230px;
            background-color: $white;
            border-radius: 4px;
            padding: 1rem 2rem;
            &:before {
                content: ' ';
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 0 16px 16px 16px;
                border-color: transparent transparent $white transparent;
                position: absolute;
                top: -16px;
                left: calc(94% - 16px);
            }
        }
        &.right-item .main-community-subnav-2017:before {
            left: calc(94% - 16px);
        }
        &.left-item .main-community-subnav-2017:before {
            left: calc(6% - 16px);
        }
        &.open {
            transition: all 700ms;
            margin-bottom: calc(2rem + 170px);
        }
        .item-content {
            position: relative;
            .nav-visual {
                float: left;
                img {
                    border-radius: 0 0 0 3px;
                }
            }
            .nav-text {
                float: left;
                padding: 2.5rem 2.0rem;
                text-align: left;
                h3.nav-title {
                    margin-top: 0;
                    font-size: 2.2rem;
                    font-weight: 600;
                    color: $blueDarkest;
                    line-height: 2.2rem;
                }
                div {

                }
                .nav-nrofmessages {
                    padding-left: 2.0rem;
                    position: relative;
                    display: inline-block;
                    &:before {
                        content: '\34';
                        display: inline-block;
                        font-family: zk-centralenav-fontregular;
                        position: absolute;
                        left: 0;
                    }
                }
            }
        }
        .icon-svg-corner {
            fill: $moreBlueLightLithium;
        }
    }

    .evenrow {
        .main-nav-item {
            background-color: $blueLightest2;
        }
        .icon-svg-corner {
            fill: $white;
        }
        .main-community-subnav-2017 {
            background-color: $blueLightest2;
            &:before {
                border-color: transparent transparent $blueLightest2 transparent;
            }
        }
    }
    @media screen and (max-width: 870px) {
        &.forum-navigation .section-heading h2.title {
            &:before {
                content: none;
            }
        }
        .inline-grid.desktop-one-half {
            .nav-row {
                height: auto;
                position: static;
            }
            .grid-item {
                text-align: center;
                width: 100%;
                margin-right: 0;
                position: relative;
                .main-community-subnav-2017 {
                    height: auto;
                    .nav-boards {
                        display: block;
                    }
                }
            }
        }
    }
    @media screen and (max-width: 475px) {
        .inline-grid.desktop-one-half {
            .main-nav-item {
                .item-content {
                    .nav-visual {
                        display: none;
                    }
                    .nav-text {
                        width: 100%;
                        text-align: center;
                        float: none;
                    }
                }
            }
        }
    }
}

.doelgroep-nav-item {
    a {
        text-decoration: none;
        text-align: left;
        .item-content {
            .avatar-wrapper {
                position: relative;
                float: right;
                margin-right: 1.0rem;
                .author-avatar {
                    position: absolute;
                    right: 0rem;
                    top: -1.2rem;
                    img {
                        max-width: 70px;
                        max-height: 70px;
                    }
                }
            }
            .item-header {

            }
            .item-footer {
                background-color: $moreBlueLightLithium;
                border-radius: 4px;
                border-bottom: 3px solid $blueLightest2;
                color: $blueDark;
                font-size: 1.8rem;
                font-weight: 600;
                min-height: 70px;
                padding: 1.5rem 5.5rem 1.5rem 1.5rem;
            }
        }
    }
}

.js .main-nav-item {
    .main-community-subnav-2017 {
        transition: all 700ms;
        visibility: collapse;
        opacity: 0;
    }
    &.open .main-community-subnav-2017 {
        transition: all 700ms;
        visibility: visible;
        opacity: 1;
        z-index: 2;
    }
}

@media screen and (max-width: 980px) {
    .main-nav-hamburger {
        display: inline-block;
    }
    .main-nav-items {
        display: none;
        &.menu-visible {
        display: block;
        }        
    }    
}

@media screen and (min-width: 768px) {

    td.latestPostDateColumn {
        width: 20%;
    }
}

.lia-fa,
.lia-fa.lia-fa-thread.lia-fa-tkb:before {
    color:#fff;
}

.dropdown-menu .lia-list-tree-toggle:before,
.dropdown-menu .lia-fa {
    color: #279EDA;
}

.lia-quilt-row-zk-search .nav-link:hover {
    text-decoration: underline !important;
    background-color: #fff !important;
    color: inherit !important;
}

@media only screen and (min-width: 663px) {
    .nav-main__dropdown-part {
        width: 33.32%;
    }

    .nav-main__dropdown {
        max-width: 100%;
    }

    .nav-main__dropdown.columns2 .nav-main__dropdown-part {
        width: 49.99%;
    }

    #hamburger {
        display: none;
    }
}
