.authors-container {
    padding: 1.5em 0;
}
.top-authors {
    text-align: center;
    margin: 2em 0;
    /*.top-author {
        display: inline-block;
        width: 24.5%;
    }*/
    .author {
        display: inline-block;
        font-size: initial;
        text-align: center;
        
        img {
            max-width: 100%;
            border-radius: 10px;
        }
    }
    .author-avatar {
        display: inline-block;
        position: relative;
    }
    .author-name {
        /*background: #fff;*/
        color: $blueLighter;
        padding: .3em .2em;
    	@mixin border-radius $baseBorderRadius;
        font-family: $titilliumRegularFontFamily;
        font-weight: 700;        
    }
    .count-block {
        /*border: 1px solid $blueLightest1;*/
        background-color: $blueLighter;
        font-family:  $titilliumRegularFontFamily;
    	@mixin border-radius $baseBorderRadius;
        padding: 1em 0;
        color: #fff;
        position: relative;
        .count-block-number {
            /*color: $blueDarkest;*/
            font-size: 2.5em;
            display: inline-block;
            width: 100%;
            line-height: 1;            
        }
        .count-block-text {
            /*color: $blueDark;            */
            font-size: 1em;
            display: inline-block;
            width: 100%;            
        }
        .arrow {
            width: 0; 
            height: 0; 
            border-left: 15px solid transparent;
            border-right: 15px solid transparent;
            border-bottom: 15px solid $blueLighter;
            position: absolute;
            top: -15px;
            left: calc(50% - 15px);
        }
    }
    .author-avatar, .author-name {
        margin-bottom: 1em;
    }
}

@media screen and (max-width: 663px) {
    .top-authors .top-author:nth-child(n+3){
        display: none;
    }
}

@media screen and (max-width: 767px) {
    .lia-quilt-view-profile-hero {
        .lia-user-avatar {
            height: 70px;
            width: 70px;
        }

        .lia-profile-hero-avatar-wrapper:after {
            width: 30px;
            height: 30px;
            border-top: 30px solid #fff;
            border-right: 30px solid rgba(0, 0, 0, 0);
        }
    }
}

.lia-message-subject .lia-link-navigation {
    font-size: 42px;
    font-weight: normal;
}

